<h4>Add Mentor</h4>
<form class="form-control-sm border-top" method="GET">
  {% csrf_token %}
  {% include "base/searchs/person.html" %}
</form>
<br>

{% if object_list %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% for obj in object_list %}
<div class="row border-top border-secondary mt-2 pt-2">
  <div class="col-sm-6">
    {{ obj.name }} &nbsp;&nbsp;
    <small class="text-muted">{{ obj.get_aspect_display }}</small>
  </div>
  <div class="col-sm-3">
    <small class="text-muted">{{ obj.center }}</small>
  </div>

  <div class="col-sm-3 text-right">
    {% if obj.publicworkgroup_set.count %}
    <span class="badge badge-pill badge-warning">in group</span>
    {% else %}
    <a type="button" 
      href="{% url 'group_add_mentor' object.pk %}?person_pk={{ obj.pk }}"
      class="btn btn-outline-light btn-sm text-success">
      <i class="fas fa-plus"></i> <i class="fas fa-user"></i> 
    </a>
    {% endif %}
  </div>
</div>
{% endfor %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% else %}

<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">seeker not found</h4>
</div>

{% endif %}
