<article class="media content-section"
         {% if object.center == request.user.person.center or request.user.is_superuser %}
         onclick="location.href='{% url 'group_detail' object.pk %}';"
         {% endif %}>

  <div class="media-body">
    <div class="article-metadata">
      <div class="row">
        <div class="col-9">
          {{ object.center }}
        </div>
        <div class="col-3 text-right">
          {% if not object.is_active %}
          <span class="badge badge-pill badge-danger">inactive</span>
          {% endif %}
          <span class="badge badge-pill badge-primary">
            {{ object.members.count }} members
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>{{ object.name }}</h4> 
      </div>
      <div class="col-6 text-right">
        {% for mentor in object.mentors.all %}
          {{ mentor.short_name }} &nbsp;&nbsp;
        {% endfor %}
      </div>
    </div>
  </div>
</article>
