{% if object_list %}

  {% if object_list.has_other_pages %}
  {% include "base/elements/paginator.html" %}
  {% endif %}

  {% for obj in object_list %}
    <div class="row border-top border-secondary pb-2 pt-2 text-{% if not obj.is_active %}danger{% elif obj.center != request.user.person.center %}warning{% endif %}">
      <div class="col-sm-4">
        <strong>{{ obj.name }}</strong>
        &nbsp;&nbsp;
        <small>{{ obj.center }}</small>
        {% if obj.center != request.user.person.center %}
          &nbsp;&nbsp;
          <span class="badge badge-pill badge-warning">only view</span>
        {% endif %}
      </div>

      <div class="col-sm-2 align-middle">
        {% if not obj.is_active %}
          <small class="badge-pill badge-danger">inactive</small>
        {% endif %}
      </div>

      <div class="col-sm-1 align-middle">
        <strong>{{ obj.status }}</strong>
      </div>
      
      <div class="col-sm-3 align-middle">
        <small>
          <em>&nbsp; since &nbsp;{{ obj.date|timesince:now }}</em>
        </small>
      </div>
      
      <div class="col-sm-1 text-right">
        {% if obj.rank %}
        <strong>{{ obj.rank }}</strong> 
        <i class="fas fa-star ml-1"></i>
        {% endif %}
      </div>

      <div class="col-sm text-right">
        {% if obj.freq %}
        <strong>{{ obj.freq }}</strong> 
        <i class="fas fa-calendar-check ml-1"></i>
        {% endif %}
      </div>
      
    </div>
  {% endfor %}

{% else %}

  <div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">no frequencies found</h4>
  </div>

{% endif %}