{% extends "base/base.html" %}
{% load base_extras %}
{% block content %}

{% include 'publicwork/elements/publicwork_navbar.html' %}

<article class="media content-section mb-1">
  <div class="media-body">
    {% if not request.user|has_group:"publicwork_jr" %}
      <form class="form-control-sm mt-1" method="GET">
        {% csrf_token %}
        {% include "base/searchs/pw_group.html" %}
      </form>
      <br>
    {% endif %}
    
    {% include 'publicwork/groups/groups.html' %}

  </div>
</article>

{% endblock %}