<nav class="navbar navbar-expand-lg navbar-light bg-transp mb-1">
  <a class="navbar-brand" href="{% url 'group_detail' object.pk %}">
    Group
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProfile"
    aria-controls="navbarProfile" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarProfile">
    <!-- menu items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if nav == 'frequencies' %}active{% endif %}" 
           href="{% url 'group_frequencies' object.pk %}">
          Frequencies
        </a>
      </li>
    </ul>

    <!-- controlers -->
    <div class="navbar-nav">
      {% if nav == "info" %}
        <a class="btn btn-light btn-sm" 
           href="{% url 'group_add_mentor' object.pk %}?init=on">
          <i class="fas fa-plus"></i> <i class="fas fa-user"></i>
          Add mentor
        </a>
        <a class="btn btn-light btn-sm" 
           href="{% url 'group_add_member' object.pk %}?init=on">
          <i class="fas fa-plus"></i> <i class="fas fa-user"></i>
          Add member
        </a>
        <a class="btn btn-light btn-sm" 
           href="{% url 'group_update' object.pk %}">
          <i class="fas fa-edit"></i> 
          Edit
        </a>
        {% if object.is_active %}
        <a class="btn btn-light btn-sm" 
           href="{% url 'group_delete' object.pk %}">
          <i class="fas fa-edit"></i> 
          Delete
        </a>
        {% else %}
        <a class="btn btn-light btn-sm" 
           href="{% url 'group_reinsert' object.pk %}">
          <i class="fas fa-edit"></i> 
          Reinsert
        </a>
        {% endif %}
      {% endif %}

      {% if nav == "frequencies" %}
        <a class="btn btn-light btn-sm" 
           href="{% url 'group_add_frequencies' object.pk %}">
          <i class="fas fa-plus"></i> <i class="fas fa-user"></i>
          Insert frequencies
        </a>
      {% endif %}

      {% if request.session.frequencies.lecture %}
      <a class="btn btn-outline-primary btn-sm" 
         href="#" 
         onclick="document.getElementById('form').submit();">
        <i class="fas fa-check"></i> 
        Add
      </a>
      {% endif %}    
      
      <a class="btn btn-light btn-sm" href="
        {% if nav == 'frequencies' %}
        {% url 'group_detail' object.pk %}
        {% elif nav == 'add_frequencies' %}
        {% url 'group_frequencies' object.pk %}
        {% elif nav == 'add_mentor' or nav == 'add_member' %}
        {% url 'group_detail' object.pk %}
        {% else %}
        {% url 'group_home' %}
        {% endif %}
        ">
        <i class="fas fa-chevron-left"></i> 
        Go back
      </a>
    </div>
  </div>
</nav>
