<h4>Lecture</h4>

<div class="row border-top border-secondary">
  <div class="col-sm-2">{{ request.session.frequencies.lecture.date }}</div>
  <div class="col-sm-5">
    <strong>{{ request.session.frequencies.lecture.theme }}</strong>
  </div>
  <div class="col-sm-5">
    <strong>{{ request.session.frequencies.lecture.center }}</strong>
  </div>
</div>

<br>
<h4>Who participated?</h4>

<form class="form-control-sm" method="POST" id="form">
  {% csrf_token %}
  {% for listener in request.session.frequencies.listeners %}
  <div class="row border-top border-secondary pt-2 pb-2">
    
    <div class="col-sm-4 mt-1 mb-1">
      {% if not listener.frequency %}
      <input type="hidden" value="{{ listener.seeker.id }}" name="id-{{ forloop.counter }}">
      {% endif %}
      {{ listener.seeker.name }} 
      <small class="text-muted">
        &nbsp;&nbsp;
        <em>
          {{ listener.seeker.center }}
        </em>
      </small>
    </div>

    <div class="col-sm-2 text-right mt-1 mb-1">
      <div class="form-row">
        <div class="col">
          {% if not listener.freq %}
            <input type="checkbox" 
                  class="form-check-input"  
                  value="on" 
                  name="freq-{{ forloop.counter }}">
          {% else %}
            <i class="fas fa-check-square mr-2"></i>
          {% endif %}
        </div>
        <div class="col">
          {% if not listener.freq %}
            <input type="number" min="0" max="2"
                class="form-control form-control-sm" 
                value="0"
                name="rank-{{ forloop.counter }}">
          {% else %}
            {% if listener.ranking > 0 %}
              {{ listener.ranking }} <i class="fas fa-star"></i>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-sm-6 mt-1 mb-1">
      {% if not listener.freq %}
        <input type="text" 
               class="form-control form-control-sm" 
               value="{{ listener.observations }}"
               placeholder="observations"
               name="obs-{{ forloop.counter }}">
      {% else %}
        {% if listener.observations %}{{ listener.observations }}{% endif %}
      {% endif %}
    </div>

  </div>
  {% endfor %}
</form>
