{% extends "base/base.html" %}

{% block content %}

{% include "center/elements/center_navbar.html" %}

<article class="media content-section mb-1">
  <div class="media-body">
    <h2>Center</h2>
    <form class="form-control-sm border-top" method="GET">
      {% csrf_token %}
      {% include "base/searchs/center.html" %}
    </form>
  </div>
</article>

{% if object_list %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% for object in object_list %}
{% include 'center/elements/card.html' %}
{% endfor %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% else %}

<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">centers not found</h4>
</div>

{% endif %}

{% endblock content %}