{% extends "base/base.html" %}

{% block content %}
<article class="media content-section mb-1">
  <div class="media-body">
    <div class="row">
      <div class="col-8">
        <h2>Centers</h2>
      </div>
      <div class="floating-right">
        <form class="form-control-sm" method="GET">
          {% csrf_token %}
          {% include "center/elements/search_center.html" %}
        </form>
      </div>
    </div>
  </div>
</article>

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    {% if request.user.is_superuser %}
    <a type="button" 
      class="btn btn-light text-primary" 
      href="{% url 'center_create' %}">
      <i class="fas fa-plus"></i> Add
    </a>
    {% endif %}
    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'home' %}">
      <i class="fas fa-chevron-left "></i> Go back
    </a>
  </div>
</div>

{% if object_list %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% for object in object_list %}
{% include 'center/elements/card.html' %}
{% endfor %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% else %}

<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">centers not found</h4>
</div>

{% endif %}

{% endblock content %}