{% extends "base/base.html" %}

{% block content %}

{% include 'publicwork/elements/publicwork_navbar.html' %}

<article class="media content-section mb-1">
  <div class="media-body">
    <form class="form-control-sm mt-1" method="GET">
      {% csrf_token %}
      {% include "base/searchs/lecture.html" %}
    </form>
    <br>
    {% include 'publicwork/elements/lectures.html' %}
  </div>
</article>

<!-- {% if object_list %}

  {% if object_list.has_other_pages %}
  {% include "base/elements/paginator.html" %}
  {% endif %}

  {% for object in object_list %}
  {% include 'publicwork/elements/lecture_card.html' %}
  {% endfor %}

  {% if object_list.has_other_pages %}
  {% include "base/elements/paginator.html" %}
  {% endif %}

{% else %}

  <div class="alert alert-secondary">
    <h4 class="alert-heading">
      {% if init %}
      choose your search terms
      {% else %}
      lectures not found
      {% endif %}
    </h4> 
  </div>

{% endif %} -->

{% endblock %}