{% extends "base/base.html" %}

{% block content %}

<article class="media content-section mb-1">
  <div class="media-body">
    <h2>Lectures</h2>
    <form class="form-control-sm border-top" method="GET">
      {% csrf_token %}
      {% include "publicwork/elements/search_lecture.html" %}
    </form>
  </div>
</article>

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    <a type="button" 
      class="btn btn-light text-primary" 
      href="{% url 'lecture_create' %}"> 
      <i class="fas fa-plus"></i> 
      Add
    </a>
    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'publicwork_home' %}">
      <i class="fas fa-chevron-left "></i> 
      Go back
    </a>
  </div>
</div>

{% if object_list %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% for object in object_list %}
{% include 'publicwork/elements/lecture_card.html' %}
{% endfor %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% else %}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">lectures not found</h4>
</div>
{% endif %}

{% endblock %}