{% extends "base/base.html" %}

{% block content %}
{% include "publicwork/elements/seeker_header.html" %}

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    {% if tab == "info" %}
      <a type="button" 
        class="btn btn-light text-warning" 
        href="{% url 'seeker_update' object.id %}">
        <i class="fas fa-edit"></i> Edit
      </a>
      {% if object.is_active %}
      <a type="button" 
        class="btn btn-light text-danger" 
        href="{% url 'seeker_delete' object.id %}">
        <i class="fas fa-trash-alt"></i> Delete
      </a>
      {% else %}
      <a type="button" 
        class="btn btn-light text-primary" 
        href="{% url 'seeker_reinsert' object.id %}">
        <i class="fas fa-sign-in-alt"></i> Reinsert
      </a>
      {% endif %}
    {% endif %}

    {% if tab == "frequencies" %}
    <a type="button" 
      class="btn btn-light text-primary" 
      href="{% url 'add_frequency' object.id %}">
      <i class="fas fa-plus"></i> Add frequency
    </a>
    {% endif %}

    {% if tab == "historics" %}
    <a type="button" 
      class="btn btn-light text-primary" 
      href="{% url 'create_historic' object.id %}">
      <i class="fas fa-plus"></i> Add historic
    </a>
    {% endif %}

    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'seeker_home' %}">
      <i class="fas fa-chevron-left"></i> Go back
    </a>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">

    <ul class="nav nav-pills mb-3">
      {% if object.is_active %}
      <li class="nav-item">
        <a class="nav-link {% if tab == 'info' %}active{% endif %}" 
           id="info-tab" 
           href="{% url 'seeker_detail' object.pk %}">
          <i class="fas fa-user"></i>
          Info
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'frequencies' %}active{% endif %}" 
           id="frequencies-tab"
           href="{% url 'seeker_frequencies' object.pk %}">
          <i class="fas fa-list"></i>
          Frequencies
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'historics' %}active{% endif %}" 
           id="historics-tab"
           href="{% url 'seeker_historics' object.pk %}">
          <i class="fas fa-list"></i>
          Historics
        </a>
      </li>
      {% endif %}
    </ul>

    {% if tab == "info" %}
    {% include "publicwork/elements/seeker_info.html" %}
    {% elif tab == "frequencies" %}
    {% include "publicwork/elements/seeker_frequencies.html" %}
    {% else %}
    {% include "publicwork/elements/seeker_historics.html" %}
    {% endif %}
    
  </div>
</article>

{% endblock content %}