{% extends "base/base.html" %}

{% block content %}
{% include "publicwork/elements/seeker_header.html" %}

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    <button 
      class="btn btn-light text-{% if add %}primary{% else %}warning{% endif %}"
      onclick="document.getElementById('form').submit();">
      {% if add %}
      <i class="fas fa-plus"></i> Add
      {% else %}
      <i class="fas fa-edit"></i> Edit
      {% endif %}
    </button>
    <a type="button" 
      class="btn btn-light text-info" 
      href="{{ goback }}">
      <i class="fas fa-chevron-left"></i> Go back
    </a>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">

    {% if tab == "historic" %}
    {% include "publicwork/elements/seeker_create_historic.html" %}
    {% else %}
    {% include "publicwork/elements/seeker_add_frequency.html" %}
    {% endif %}
    
  </div>
</article>

{% endblock content %}