{% extends "base/base.html" %}

{% block content %}

<div class="text-right mb-2 mt-4">
  {% if tab == "historic" %}
  <a class="btn btn-{% if add %}primary{% else %}warning{% endif %} mt-2" href="#"
    onclick="document.getElementById('form').submit();">
    <i class="fas fa-check"></i>
    {% if add %} Add {% else %} Edit {% endif %}
  </a>
  {% endif %}

  <a class="btn btn-light mt-2 mr-3"
    href="{{ goback }}">
    <i class="fas fa-chevron-left"></i> 
    Go back
  </a>
</div>

{% include "publicwork/elements/seeker_header.html" %}

<article class="media content-section">
  <div class="media-body">

    {% if tab == "frequencies" %}
    {% include "publicwork/elements/seeker_add_frequency.html" %}
    {% elif tab == "historic" %}
    {% include "publicwork/elements/seeker_create_historic.html" %}
    {% endif %}
    
  </div>
</article>

{% endblock content %}