{% extends "base/base.html" %}

{% block content %}

{% include 'publicwork/elements/seeker_navbar.html' %}

{% include "publicwork/elements/seeker_header.html" %}

<article class="media content-section">
  <div class="media-body">

    {% if tab == "info" %}
    {% include "publicwork/elements/seeker_info.html" %}
    {% elif tab == "frequencies" %}
    <h4>Frequencies</h4>
    {% include "publicwork/elements/seeker_frequencies.html" %}
    {% elif tab == "historic" %}
    <h4>Historic</h4>
    {% include "publicwork/elements/seeker_historic.html" %}
    {% endif %}
    
  </div>
</article>

{% endblock content %}