{% extends "base/base.html" %}

{% block content %}
{% include 'event/elements/event_header.html' %}

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    <a type="button" 
      href="{% url 'frequencies_add' object.pk %}" 
      class="btn btn-light btn-sm text-primary">
      <i class="fas fa-plus"></i> <i class="fas fa-users"></i> 
      insert
    </a>
    <a type="button" 
      class="btn btn-light text-warning" 
      href="{% url 'event_update' object.id %}">
      <i class="fas fa-edit"></i> 
      Edit
    </a>
    <a type="button" 
      class="btn btn-light text-danger" 
      href="{% url 'event_delete' object.id %}">
      <i class="fas fa-trash-alt"></i> 
      Delete
    </a>
    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'event_home' %}?d30=on&lastNext=last">
      <i class="fas fa-chevron-left"></i> 
      Go back
    </a>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" 
          id="pills-frequencies-tab" 
          data-toggle="pill" 
          href="#pills-frequencies" 
          role="tab"
          aria-controls="pills-frequencies" 
          aria-selected="true">
          Frequencies
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" 
          id="pills-qr-code-tab" 
          data-toggle="pill" 
          href="#pills-qr-code" 
          role="tab"
          aria-controls="pills-qr-code" 
          aria-selected="false">
          QR - Code
        </a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" 
        id="pills-frequencies" 
        role="tabpanel"
        aria-labelledby="pills-frequencies-tab">
        <h4>Frequencies</h4>

        {% if object_list %}

        {% if object_list.has_other_pages %}
        {% include "base/elements/paginator.html" %}
        {% endif %}

        <table class="table table-hover table-sm">
          <tbody>
            {% for freq in object_list %}
            <tr>
              <td>{{ freq.reg }}</td>
              <td>{{ freq.name }}
                <small class="text-muted">({{ freq.center.name }})</small>
              </td>
              <td></td>
              <td class="text-right">
                <a type="button" 
                  href="{% url 'frequency_delete' object.pk freq.pk %}"
                  class="btn btn-outline-light btn-sm">
                  <i class="fas fa-trash-alt text-danger"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if object_list.has_other_pages %}
        {% include "base/elements/paginator.html" %}
        {% endif %}

        {% else %}
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">no frequencies found</h4>
        </div>
        {% endif %}
      </div>
      <div class="tab-pane fade" 
        id="pills-qr-code" 
        role="tabpanel" 
        aria-labelledby="pills-qr-code-tab">
        <div class="text-center">
          <h4>Scan this QR-Code to sign-in Event</h4>
          <img 
            class="img-thumbnail rounded mx-auto d-block mb-4" 
            src="{{ object.qr_code.url }}">
          <h4>{{ object.id}}</h4>
        </div>
      </div>
    </div>

  </div>
</article>

{% endblock content %}