{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'event/elements/event_header.html' %}

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    <button 
      class="btn btn-light text-primary" 
      onclick="document.getElementById('form').submit();">
      <i class="fas fa-plus"></i> <i class="fas fa-users text-primary"></i>
      Insert
    </button>
    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'event_detail' object.pk %}">
      <i class="fas fa-chevron-left "></i> Go back
    </a>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">
    <h4>Insert Frequencies</h4>

    <form method="POST" id="form">
      {% csrf_token %}
      {{ form|crispy }}
    </form>
    <div class="alert alert-secondary">
      <h5 class="border-bottom">Important!</h5>
      <small>
        Enter pupils registration numbers, separated by commas. <br>
        Example: &nbsp;
        <code>432, 345, 165, 675, 1276, 1021</code>
      </small>
    </div>

  </div>
</article>

{% endblock %}