{% load crispy_forms_tags %}
<article class="media content-section">
  <div class="media-body">
    <h5>Form of Payment</h5>
    <form id="form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-3" id="payform_type">
          {{ form.type | as_crispy_field }}
        </div>
        <div class="col-sm-3">
          {{ form.value | as_crispy_field }}
        </div>
        <div class="col-sm-3">
          {{ form.bank_flag | as_crispy_field }}
        </div>
        <div class="col-sm-3">
          {{ form.ctrl_number | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{ form.complement | as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.voucher_img | as_crispy_field }}
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" 
          class="form-control" 
          id="description" 
          name="description"
          value="{{ request.session.my_order.description }}">
      </div>
      <div class="alert alert-secondary" v-if="seen">
        <div class="row">
          <div class="col-sm-4" id="payform_type">
            <img 
              src="{{ object.person.center.pix_image.url }}" 
              class="img-fluid">
          </div>
          <div class="col-sm-8">
            {{ object.person.center.pix_key }}
          </div>
        </div>
      </div>
    </form>
  </div>
</article>