<div class="form-row align-items-center">
  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">from</div>
      </div>
      <input type="date" 
        name="date1" 
        class="form-control dateinput" 
        id="date1" 
        {% if request.session.search.date1 %}value={{ request.session.search.date1 }}{% endif %}>
    </div>
  </div>
  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">to</div>
      </div>
      <input type="date" 
        name="date2" 
        class="form-control dateinput" 
        id="date2" 
        {% if request.session.search.date2 %}value={{ request.session.search.date2 }}{% endif %}>
      <button 
        class="btn btn btn-outline-success ml-2" 
        type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>