{% extends "user/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% if validlink %}
<p>{% translate 'Please enter (and confirm) your new password.' %}</p>
<form class="form-signin" method="post">
  {% csrf_token %}

  {% if form.new_password1.errors %}
  {{ form.new_password1.errors }}</td>
  {% endif %}

  {{ form.new_password1 | as_crispy_field }}

  {% if form.new_password1.errors %}
  {{ form.new_password2.errors }}
  {% endif %}

  {{ form.new_password2 | as_crispy_field }}

  <input type="submit" 
    class="btn btn-primary btn-lg btn-block" 
    value="{% translate 'Change my password' %}" />
</form>
{% else %}
<h1>{% translate 'Password reset failed' %}</h1>
<p>{% translate 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
{% endif %}
{% endblock %}
