{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-3">
  <a class="btn btn-light mt-2 mr-3"
    href="{% url 'frequency_ps_list' person.id %}">
    <i class="fas fa-chevron-left"></i> 
    Go back
  </a>
</div>

{% include "person/elements/header.html" %}

<article class="media content-section mb-1">
  <div class="media-body">
    <h4>Insert Frequency</h4>
    <form class="form-control-sm border-top" method="GET">
      {% csrf_token %}
      {% include "base/searchs/event.html" %}
    </form>
    <br>

    {% include 'event/elements/events.html' %}

  </div>
</article>
{% endblock %}