{% extends "base/base.html" %}

{% block content %}
{% include "person/elements/header.html" %}

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    <a type="button" 
      href="{% url 'frequency_ps_insert' person.id %}?d30=on&lastNext=last"
      class="btn btn-light btn-sm text-primary">
      <i class="fas fa-plus"></i> 
      Add
    </a>
    <a type="button" 
      href="{% url 'person_detail' person.id %}" 
      class="btn btn-light btn-sm text-info">
      <i class="fas fa-chevron-left"></i>
      Go back
    </a>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">

    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <a class="nav-link" 
          id="nav-person-tab" 
          href="{% url 'person_detail' person.id %}">
          <i class="fas fa-user"></i>
          Person
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
          href="{% url 'historic_list' person.id %}">
          <i class="fas fa-book"></i>
          Historic
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fas fa-list"></i>
          Frequencies
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
          href="{% url 'membership_ps_list' person.id %}">
          <i class="fas fa-users"></i>
          Workgroups
        </a>
      </li>
    </ul>

    <h4>Frequencies</h4>

    {% if object_list %}

    {% if object_list.has_other_pages %}
    {% include "base/elements/paginator.html" %}
    {% endif %}

    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th width="15%">date</th>
          <th>event</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for freq in object_list %}
        <tr>
          <td>{{ freq.date | date:"d/m/Y" }}</td>
          <td>{{ freq.activity }}
            <small class="text-muted">
              {{ freq.center }}
            </small>
          </td>
          <td class="text-right">
            <a type="button" 
              href="{% url 'frequency_ps_delete' person.id freq.id %}"
              class="btn btn-outline-light btn-sm">
              <i class="fas fa-trash-alt text-danger"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if object_list.has_other_pages %}
    {% include "base/elements/paginator.html" %}
    {% endif %}

    {% else %}
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">frequencies not found</h4>
    </div>
    {% endif %}

  </div>
</article>
{% endblock content %}