{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-3">
  <a class="btn btn-light mt-2 mr-3"
    href="{% url 'frequency_ps_list' person.id %}">
    <i class="fas fa-chevron-left"></i> 
    Go back
  </a>
</div>

{% include "person/elements/header.html" %}

<article class="media content-section mb-1">
  <div class="media-body">
    <h4>Insert Frequency</h4>
    <form class="form-control-sm border-top" method="GET">
      {% csrf_token %}
      {% include "base/searchs/event.html" %}
    </form>
    <br>

    {% if object_list %}

    {% if object_list.has_other_pages %}
    {% include "base/paginator.html" %}
    {% endif %}

    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th width="15%">date</th>
          <th>event</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
        <tr>
          <td>{{ obj.date|date:'d/m/Y'}}</td>
          <td>
            {{ obj.activity.name }}
            &nbsp;&nbsp;<small class="text-muted">{{ obj.center }}</small>
            {% if not obj.is_active %}
            &nbsp;&nbsp;<span class="badge badge-pill badge-danger">inactive</span>
            {% endif %}
          </td>
          <td class="text-right">
            {% if obj.pk not in pre_freqs %}
              <a type="button" 
                href="{% url 'frequency_ps_insert' person.id %}?pk={{ obj.pk }}"
                class="btn btn-outline-light btn-sm text-primary">
                <i class="fas fa-plus"></i> <i class="fas fa-user"></i> add
              </a>
            {% else %}
              <span class="badge badge-pill badge-warning">inserted</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if object_list.has_other_pages %}
    {% include "base/paginator.html" %}
    {% endif %}

    {% else %}

    <div class="alert alert-secondary" role="alert">
      <h4 class="alert-heading">frequencies not found</h4>
    </div>

    {% endif %}

  </div>
</article>
{% endblock %}