{% extends "user/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<form class="form-signin" method="post">
  {% csrf_token %}
  <h3 class="mb-3 font-weight-normal">{% translate 'Enter your email' %}</h3>
  {% if form.email.errors %}
  {{ form.email.errors | as_crispy_field }}
  {% endif %}
  <p>{{ form.email | as_crispy_field }}</p>
  <input type="submit" 
    class="btn btn-primary btn-lg btn-block" 
    value="{% translate 'Reset password' %}">
</form>

{% endblock %}
