{% extends "base/base.html" %}

{% block content %}
{% include "user/elements/header.html" %}

{% include "user/elements/user_navbar.html" %}

{% if tab == "detail" %}
  {% include "user/elements/profile_info.html" %}
{% elif tab == "frequencies" %}
  {% include "user/elements/profile_frequencies.html" %}
{% elif tab == "historic" %}
  {% include "user/elements/profile_historic.html" %}
{% elif tab == "payments" %}
  {% include "user/elements/profile_payments.html" %}
{% endif %}

{% endblock content %}