{% extends "base/base.html" %}

{% block content %}
{% include "user/elements/header.html" %}

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    <a type="button" 
      class="btn btn-light text-success" 
      href="{% url 'user_new_order' %}">
      <i class="fas fa-money-bill-wave-alt"></i> 
      New order
    </a>
    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'profile_detail' %}">
      <i class="fas fa-chevron-left"></i> 
      Go back
    </a>
  </div>
</div>

<article class="media content-section mb-1">
  <div class="media-body">
    <h4>Latest payments</h4>
  </div>
</article>

{% if payments %}
{% for pay in payments %}
{% include "user/elements/payment.html" %}
{% endfor %}

<div class="alert alert-secondary">
  <small>
    <p>
      Here showing your last <strong>{{ payments|length }}</strong> occurrence(s). &nbsp;
      To find out more, contact the <strong>{{ object.person.center.name }}</strong> secretariat.
    </p>
  </small>
</div>

{% else %}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">no payments found</h4>
</div>
{% endif %}

{% endblock content %}