{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-2 mt-4">
  <button class="btn btn-primary" 
    onclick="checkFormAddPayment()">
    <i class="fas fa-check"></i> 
    Add payment
  </button>
  <a type="button" 
    class="btn btn-light mr-3" 
    href="{% url 'user_new_order' %}">
    <i class="fas fa-chevron-left "></i> 
    Go back
  </a>
</div>

{% include "user/elements/header.html" %}

<article class="media content-section">
  <div class="media-body">
    <h4>Add payment</h4>

    <form method="POST" enctype="multipart/form-data" id="form">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          {{ form.paytype | as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.event | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{ form.value | as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.ref_month | as_crispy_field }}
        </div>
      </div>
      {{ form.obs | as_crispy_field }}
    </form>
  </div>
</article>

<script>
  const divEventChoices = document.getElementById("div_id_event")
  divEventChoices.style.display = 'none'

  //faz campo Event aparecer ao clicar fora do campo Paytype
  const paytypeField = document.getElementById("id_paytype")
  paytypeField.addEventListener('blur', (evento) => {displayEventChoices()})

  //verifica se todos os campos estão válidos no formulário antes de salvar
  function checkFormAddPayment(){
    const paytypeField = document.getElementById("id_paytype")
    const valueField = document.getElementById("id_value")

    if(paytypeField.value == ""){
      alertPayType();
      return false;
    }
    if(valueField.value == ""){
      alertValueField();
      return false;
    }


    document.getElementById('form').submit()
  }

  function alertPayType(){
      var invalidPayType = document.createElement("p");
      invalidPayType.classList.add("invalid-feedback");
      var invalidText = document.createTextNode(
        "Please choose one of the options."
      );
      invalidPayType.appendChild(invalidText);
      paytypeField.parentElement.appendChild(invalidPayType);
      paytypeField.classList.add("is-invalid");
      paytypeField.focus();
  }

  function displayEventChoices(){
    const paytypeChoices = document.getElementById("id_paytype")
    const divEventChoices = document.getElementById("div_id_event")

     if(paytypeChoices.value == "3"){
      divEventChoices.style.display = 'block'
    }else{
      divEventChoices.style.display = 'none'
    }
  }

  function alertValueField(){
    var valueField = document.getElementById("id_value")

    var invalidValueField = document.createElement("p");
    invalidValueField.classList.add("invalid-feedback");
    var invalidText = document.createTextNode(
      "Please choose one of the options."
    );
    invalidValueField.appendChild(invalidText);
    valueField.parentElement.appendChild(invalidValueField);
    valueField.classList.add("is-invalid");
    valueField.focus();
  }

</script>
{% endblock %}