{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% include "user/elements/header.html" %}

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    {% if request.session.my_order.total_payments != 0.0 %}
    <button 
      class="btn btn-light text-success" 
      onclick="document.getElementById('form').submit();">
      <i class="fas fa-money-bill-wave-alt"></i> 
      Pay
    </button>
    {% endif %}
    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'user_payments' %}">
      <i class="fas fa-chevron-left "></i> 
      Go back
    </a>
  </div>
</div>

{% if request.session.my_order.person %}
<article class="media content-section">
  <div class="media-body">
    <div class="row">
      <div class="col-sm-6">
        <h5>Payments</h5>
      </div>
      <div class="col-sm-6">
        <a type="button" 
          class="btn btn-light btn-sm text-info float-right" 
          href="{% url 'user_add_payment' %}">
          <i class="fas fa-plus "></i> 
          Add
        </a>
      </div>
    </div>

    {% if request.session.my_order.payments %}

    {% for object in request.session.my_order.payments %}
    {% include "treasury/elements/el_payment.html" %}
    {% endfor %}

    <table class="table table-hover table-sm mt-2">
      <tr>
        <th class="text-right">TOTAL:</th>
        <th class="text-right" id="totPayment" width="10%">
          {{ request.session.my_order.total_payments|floatformat:2 }}
        </th>
        <th width="28px"></th>
      </tr>
    </table>

    {% endif %}
  </div>
</article>
{% endif %}

{% if request.session.my_order.payments %}
<article class="media content-section">
  <div class="media-body">
    <h5>Form of Payment</h5>
    <form id="form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-3" id="payform_type">
          {{ form.type | as_crispy_field }}
        </div>
        <div class="col-sm-3">
          {{ form.value | as_crispy_field }}
        </div>
        <div class="col-sm-3">
          {{ form.bank_flag | as_crispy_field }}
        </div>
        <div class="col-sm-3">
          {{ form.ctrl_number | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{ form.complement | as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.voucher_img | as_crispy_field }}
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" 
          class="form-control" 
          id="description" 
          name="description"
          value="{{ request.session.my_order.description }}">
      </div>
      <div class="alert alert-secondary" v-if="seen">
        <div class="row">
          <div class="col-sm-4" id="payform_type">
            <img 
              src="{{ object.person.center.pix_image.url }}" 
              class="img-fluid">
          </div>
          <div class="col-sm-8">
            {{ object.person.center.pix_key }}
          </div>
        </div>
      </div>
    </form>
  </div>
</article>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  var form = new Vue({
    el: '#form',
    data: {
      seen: true,
      selected: 'PIX',
    },
    methods: {
      viewPix: function () {
        this.seen = this.selected != "PIX" ? false : true
      }
    }
  })
</script>
{% endblock %}