{% extends "base/base.html" %}

{% block content %}

<div class="text-right mb-2 mt-4">
  <a class="btn btn-light mr-3" 
    href="{% url 'user_frequencies' %}">
    <i class="fas fa-chevron-left"></i> 
    Go back
  </a>
</div>

{% include "user/elements/header.html" %}

<div class="row-qrcode">
  <div class="col-md-6">
    <article class="media content-section">
      <div class="media-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Scan the Event QR-CODE</legend>
            <div class="input-group">
              <input class="form-control" type="text" name="qrcode" id="qrcode" required>
              <span class="input-group-append">
                <button class="btn btn btn-outline-success" type="submit">
                  <i class="fas fa-signature"></i> Sign in</button>
              </span>
            </div>
          </fieldset>
        </form>
      </div>
    </article>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <video class="img-fluid" id="preview" visible="false"></video>
    </div>
  </div>
</div>
  
  {% endblock %}

  {% block scripts %}
  {% load static %}
  <script type="text/javascript" src="{% static 'js/instascan.min.js' %}"></script>
  <script>
    // function scanQrCode() {
    let preview = document.getElementById('preview')
    let scanner = new Instascan.Scanner({ video: preview });
    let _qrcode = document.getElementById('qrcode');

    scanner.addListener('scan', function (content) {
      _qrcode.value = content;
      preview.style.display = 'none';
      scanner.stop();
    });

    Instascan.Camera.getCameras().then(cameras => {
      if (cameras.length > 0) {
        scanner.start(cameras[cameras.length - 1]);
      } else {
        console.error("There is no camera on the device.");
      }
    });
    // };
  </script>

  <style>
    .row-qrcode {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: var(--background-card);
      border: 1px solid var(--content-border);
      border-radius: 3px;
    }
  </style>
  {% endblock %}