{% extends "base/base.html" %}

{% block content %}
{% include "workgroup/elements/header.html" %}

<div class="text-right mb-2">
  <div class="btn-group-sm mt-2" role="group">
    {% if not request.session.frequencies.event %}
    <a type="button" 
      href="{% url 'mentoring_add_frequencies' object.id %}" 
      class="btn btn-light btn-sm text-primary">
      <i class="fas fa-plus"></i> <i class="fas fa-user"></i> 
      Insert frequencies
    </a>
    {% endif %}
    {% if request.session.frequencies.event %}
    <button 
      class="btn btn-primary"
      onclick="document.getElementById('form').submit();">
      <i class="fas fa-check"></i>
      Add
    </button>
    {% endif %}
    <a type="button" 
      class="btn btn-light text-info" 
      href="{{ goback }}">
      <i class="fas fa-chevron-left"></i> 
      Go back
    </a>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">

  {% if tab == "members" %}
  {% include "workgroup/elements/members.html" %}
  {% elif tab == "add_frequencies" %}
  {% include "workgroup/elements/add_frequencies.html" %}
  {% endif %}

  </div>
</article>
{% endblock content %}