{% extends "base/base.html" %}

{% block content %}

<article class="media content-section mb-1">
  <div class="media-body">
    <h2>Mentoring</h2>
  </div>
</article>

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'home' %}">
      <i class="fas fa-chevron-left "></i> 
      Go back
    </a>
  </div>
</div>

{% if groups %}
  {% for group in groups %}
  <article 
    class="media content-section" 
    onclick="location.href='{% url 'mentoring_group_detail' group.workgroup.pk %}';"">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row">
          <div class="col-10">
            {{ group.workgroup.center }}
          </div>
          <div class="col text-right">
            <span class="badge badge-pill badge-secondary">
              {{ group.workgroup.get_workgroup_type_display }}
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <h4>
            {{ group.workgroup.name }} &nbsp;&nbsp;
            <small class="text-muted">
              {% if group.workgroup.aspect != "--" %}
              {{ group.workgroup.get_aspect_display }}
              {% endif %}
            </small>
          </h4>
        </div>
        <div class="col text-right">
          <span class="badge badge-pill badge-info">
            {{ group.workgroup.members.all|length }}
          </span>
        </div>
      </div>
    </div>
  </article>
  {% endfor %}

{% else %}

<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">workgroup not found</h4>
</div>

{% endif %}

{% endblock content %}