:root {
  --color-background: #444444;
  --color-font: #ffffff;
  --color-title: #fafafa;
  --background-cabecalho: #303b44;
  --font-cabecalho: #cbd5db;
  --background-card: #333333;
  --content-border: #222222;
  --link-hover: #17a2b8;
  --card-item:#333333;
  --card-header: #303b44;
  --card-border: #444444;
}
