{% if object_list %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% for hist in object_list %}
<div class="row border-top border-secondary mt-2 pt-2"
    onclick="location.href='{ url 'update_historic' object.pk hist.pk %}'">
  <div class="col-sm-1">
    <small>{{ hist.date|date:'d/m/Y' }}</small>
  </div>
  <div class="col-sm-1">
    <span class="badge badge-pill badge-success">
      {{ hist.get_occurrence_display }}
    </span>
  </div>
  <div class="col-sm-9">
    {{ hist.description }}
  </div> 
  <div class="col-sm-1 text-right">
    <a type="button" 
      href="{ url 'delete_historic' object.pk hist.pk %}"
      class="btn btn-outline-light btn-sm">
      <i class="fas fa-trash-alt text-danger"></i>
    </a>
  </div>
</div>
{% endfor %}

{% else %}

<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">no historics found</h4>
</div>

{% endif %}