<div class="row">
  <div class="col-md-3 text-center">
    <img 
      class="img-thumbnail rounded mx-auto d-block mb-4" 
      src="{{ object.user.profile.image.url }}">
  </div>
  
  <div class="col-md-9">
    <article class="media content-section">
      <div class="media-body">
        
          <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
            <br>
            <table class="table table-hover table-sm">
              {% if object.aspect %}
              <tr>
                <th>aspect</th>
                <td>
                  {{ object.get_aspect_display }}
                  &nbsp;&nbsp; <small class="text-mute">since</small> &nbsp;&nbsp;
                  {{ object.aspect_date | date:"d/m/Y" }}
                </td>
              </tr>
              {% endif %}
              {% if object.birth %}
              <tr>
                <th width="120rem">birth</th>
                <td>
                  {{ object.birth|date:"d/m/Y" }}
                  &nbsp;&nbsp; <small class="text-mute">age</small> &nbsp;&nbsp;
                  {{ age }} years
                </td>
              </tr>
              {% endif %}
              {% if object.user.profile.gender %}
              <tr>
                <th>gender</th>
                <td>{{ object.user.profile.get_gender_display }}</td>
              </tr>
              {% endif %}
              {% if object.user.profile.phone_1 %}
              <tr>
                <th>phone</th>
                <td>{{ object.user.profile.phone_1 }}</td>
              </tr>
              {% endif %}
              {% if object.user.profile.phone_2 %}
              <tr>
                <th>phone alt</th>
                <td>{{ object.user.profile.phone_2 }}</td>
              </tr>
              {% endif %}
              {% if object.user.email %}
              <tr>
                <th>email</th>
                <td>{{ object.user.email }}</td>
              </tr>
              {% endif %}
            </table>
          </div>
        
      </div>
    </article>
  </div>
</div>
