<nav class="navbar navbar-expand-lg navbar-light bg-transp mb-1">
  <a class="navbar-brand" href="
  {% if nav == 'detail' %}
  {{ goback }}
  {% else %}
  { url 'mentoring_home' %}
  {% endif %}
  ">{% if nav == 'home' %}Workgroups{% else %}Workgroup{% endif %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProfile"
    aria-controls="navbarProfile" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarProfile">
    <!-- menu items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if tab == 'info' %}active{% endif %}" 
           href="{% url 'mentoring_member_detail' group_pk object.pk %}">
          Member
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'frequencies' %}active{% endif %}" 
           href="{% url 'mentoring_member_frequencies' group_pk object.pk %}">
          Frequencies
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'historic' %}active{% endif %}" 
           href="{% url 'mentoring_member_historic' group_pk object.pk %}">
          Historic
        </a>
      </li>
    </ul>

    <!-- controlers -->
    <div class="navbar-nav">

      {% if nav == "detail" %}
        {% if tab == "frequencies" and object.is_active %}
        <a class="btn btn-light btn-sm" href="{% url 'membership_add_frequency' group_pk object.id %}?init=on">
          <i class="fas fa-plus"></i> <i class="fas fa-user"></i>
          Add frequency
        </a>
        {% endif %}
      <a class="btn btn-light btn-sm" href="{{ goback }}">
        <i class="fas fa-chevron-left"></i> 
        Go back
      </a>
      {% endif %}
    </div>
  </div>
</nav>
