{% if object_list %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% for hist in object_list %}
<div class="row border-top border-secondary mt-2 pt-2"
    onclick="location.href='{ url 'update_historic' object.pk hist.pk %}'">
  <div class="col-sm-1">
    <small>{{ hist.date|date:'d/m/Y' }}</small>
  </div>
  <div class="col-sm-2">
    {{ hist.get_occurrence_display }}
  </div>
  <div class="col-sm-8">
    {{ hist.description }}
  </div> 
</div>
{% endfor %}

{% else %}

<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">no historics found</h4>
</div>

{% endif %}