<h4>Workgroups</h4>

{% if object_list %}

  {% if object_list.has_other_pages %}
  {% include "base/elements/paginator.html" %}
  {% endif %}

  {% for obj in object_list %}
  <div class="row border-top border-secondary pb-2 pt-2 {% if not obj.is_active %}text-danger{% endif %}"
    {% if obj.click_link %}
      {% if obj.center == request.user.person.center or request.user.is_superuser %}
        onclick="location.href='{{ obj.click_link }}';"
      {% endif %}
    {% endif %}>
    <div class="col-sm-5">
      <strong>{{ obj.name }}</strong>
    </div>
    <div class="col-sm-2 small align-middle">
      <small><em>{{ obj.center }}</em></small>
    </div>
    <div class="col-sm-1 small align-middle">
      <small><em>{{ obj.get_workgroup_type_display }}</em></small>
    </div>
    <div class="col-sm-2 text-right">
      <strong>{{ obj.get_aspect_display }}</strong>
    </div>
    <div class="col-sm-2 text-right">
      {% if not nav == "home" %}
        {% if obj.pk not in pre_groups %}
          <a type="button" 
            href="{{ obj.add_link }}?pk={{ obj.pk }}"
            class="btn btn-outline-light btn-sm text-success">
            <i class="fas fa-plus"></i> <i class="fas fa-user"></i>
          </a>
        {% else %}
          <span class="badge badge-pill badge-warning">in</span>
        {% endif %}
      {% else %}
        {% if obj.members.all|length > 0 %}
          <strong>{{ obj.members.all|length }}</strong> 
          <small>memb.</small> 
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% endfor %}

  {% if object_list.has_other_pages %}
  {% include "base/elements/paginator.html" %}
  {% endif %}

{% else %}

  <div class="alert alert-secondary">
    <h4 class="alert-heading">
      {% if init %}
      choose your search terms
      {% else %}
      groups not found
      {% endif %}
    </h4> 
  </div> 

{% endif %}
