<div class="form-row align-items-center">
  <div class="col-sm-2 mb-1">
    <div class="input-group">
      <input name="term" 
            id="term"
            class="form-control" 
            placeholder="center"
            value="{{request.session.search.term }}">
      <div class="input-group-append">
        {% if request.session.search.term %}
        <div class="input-group-text">
          <a href="{% url 'center_home' %}?init=on" class="text-secondary">
            <i class="fas fa-backspace"></i>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm mb-1">
    {% include 'base/elements/checkbox_all.html' %}
    <button class="btn btn btn-outline-success" type="submit">
      <i class="fas fa-search"></i>
      Search
    </button>
  </div>
</div>