<div class="form-row align-items-center">
  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <input name="term" 
            id="term"
            class="form-control" 
            placeholder="center"
            value="{{request.session.search.term }}">
      <div class="input-group-append">
        {% if request.session.search.term %}
        <div class="input-group-text">
          <a href="{% url 'center_home' %}?init=on" class="text-secondary">
            <i class="fas fa-backspace"></i>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input"
                type="checkbox"
                id="all"
                name="all"
                {% if request.session.search.all %}checked{% endif %}>
        <label class="form-check-label" for="all">all</label>
      </div>
      <button class="btn btn btn-outline-success ml-2" type="submit">
        <i class="fas fa-search"></i>
        Search
      </button>
    </div>
  </div>
</div>