<div class="form-row align-items-center">
  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">from</div>
      </div>
      <input type="date" 
            name="dt1" 
            id="dt1"
            class="form-control dateinput" 
            value="{{ request.session.search.dt1 }}">
    </div>
  </div>
  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">to</div>
      </div>
      <input type="date" 
              name="dt2" 
              id="dt2"
              class="form-control dateinput" 
              value="{{ request.session.search.dt2 }}">
    </div>
  </div>
  <div class="col-sm-2 mb-1">
    <select class="form-control" name="type">
      <option value="all"
              {% if request.session.search.type == 'all' %}selected{% endif %}>
              all types
      </option>
      {% for tp in type_list %}
      <option value="{% if tp.0 != '---' %}{{ tp.0 }}{% endif %}"
              {% if tp.0 == request.session.search.type %}selected{% endif %}>
        {% if tp.0 == "---" %}type{% else %}{{ tp.1 }}{% endif %}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm mb-1">
    {% include 'base/elements/checkbox_all.html' %}
    <button class="btn btn btn-outline-success" type="submit">
      <i class="fas fa-search"></i>
      Search
    </button>
  </div>  
</div>