<div class="form-row align-items-center">
  <div class="col-sm-2 mb-1">
    <div class="input-group">
      <input name="term"
             class="dateinput form-control"
             id="term"
             placeholder="workgroup"
             {% if request.session.search.term %}value={{ request.session.search.term }}{% endif %}>
      {% if request.session.search.term %}
      <div class="input-group-text">
        <a href="{{ goback_link }}?init=on" class="text-secondary">
          <i class="fas fa-backspace"></i>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-2 mb-1">
    <select class="form-control" name="type">
      <option value="all"
              {% if request.session.search.type == 'all' %}selected{% endif %}>
              all types
      </option>
      {% for wgtp in workgroup_types %}
        <option value="{{ wgtp.0 }}" {% if wgtp.0 == request.session.search.type %}selected{% endif %}>{{ wgtp.1 }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm mb-1">
    {% include 'base/elements/checkbox_all.html' %}
    <button class="btn btn-outline-success" type="submit">
      <i class="fas fa-search"></i>
      Search
    </button> 
  </div>
</div>