<div class="form-row align-items-center">
  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <input name="term"
             class="dateinput form-control"
             id="term"
             placeholder="workgroup"
             {% if request.session.search.term %}value={{ request.session.search.term }}{% endif %}>
    </div>
  </div>
  <div class="col-sm-2 mb-1">
    <select class="form-control" name="type">
      <option value="">all types</option>
      {% for wgtp in workgroup_types %}
        <option value="{{ wgtp.0 }}" {% if wgtp.0 == request.session.search.type %}selected{% endif %}>{{ wgtp.1 }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input"
                type="checkbox"
                id="all"
                name="all"
                {% if request.session.search.all %}checked{% endif %}>
        <label class="form-check-label" for="all">all</label>
      </div>
      <button class="btn btn btn-outline-success ml-2" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </div>
</div>