{% load crispy_forms_tags %}

<form method="POST" enctype="multipart/form-data" id="form">
  {% csrf_token %}

  <div class="row">
    <div class="col-6">
      {{ form.center | as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.date | as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      {{ form.theme | as_crispy_field }}
    </div>
    <div class="col-4">
      {{ form.type | as_crispy_field }}
    </div>
  </div>
  
  {{ form.description | as_crispy_field }}
  {{ form.is_active | as_crispy_field }}
  {{ form.made_by | as_crispy_field }}

</form>