{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-2 mt-4">
  <button 
    class="btn btn-warning mt-2"
    onclick="document.getElementById('form').submit();">
    <i class="fas fa-edit"></i>
    Update
  </button>
  <a class="btn btn-light mt-2 mr-3"
    href="{% url 'workgroup_detail' object.pk %}">
    <i class="fas fa-chevron-left"></i> 
    Go back
  </a>
</div>

{% include "workgroup/elements/workgroup_header.html" %}

<article class="media content-section">
  <div class="media-body">
    <h4>Update Membership</h4>

    <form method="POST" enctype="multipart/form-data" id="form">
      {% csrf_token %}
      {{ form | crispy }}
    </form>

  </div>
</article>
{% endblock %}