{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-2 mt-4">
  <a class="btn btn-light mt-2 mr-3"
    href="{% url 'workgroup_detail' object.pk %}">
    <i class="fas fa-chevron-left"></i> 
    Go back
  </a>
</div>

{% include "workgroup/elements/workgroup_header.html" %}

<article class="media content-section">
  <div class="media-body">
    <h4>Insert Membership</h4>
    <form class="form-control-sm border-top" method="GET">
      {% csrf_token %}
      {% include "base/searchs/person.html" %}
    </form>
    <br>
    {% include 'person/elements/persons.html' %}

  </div>
</article>
{% endblock %}