<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form class="form-control-sm border-top" method="GET">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title text-secondary" id="modalLabel">Frequencies per period</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">from</div>
              </div>
              <input type="date" 
                    name="dt1" 
                    id="dt1"
                    class="form-control dateinput" 
                    value="{{ request.session.search.dt1 }}">
            </div>
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <div class="input-group-text">to</div>
              </div>
              <input type="date" 
                    name="dt2" 
                    id="dt2"
                    class="form-control dateinput" 
                    value="{{ request.session.search.dt2 }}">
            </div>
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <div class="input-group-text">status</div>
              </div>
              <select class="form-control" name="status">
                <option value="" {% if stt.1 == request.session.search.status %}selected{% endif %}>all</option>
                {% for stt in status %}
                <option value="{{ stt.1 }}"
                        {% if stt.1 == request.session.search.status %}selected{% endif %}>
                  {{ stt.1 }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="input-group mt-3">
              <div class="form-check form-check-inline m-1">
                <input class="form-check-input"
                      type="checkbox"
                      id="all"
                      name="all"
                      {% if request.session.search.all %}checked{% endif %}>
                <label class="form-check-label text-secondary" for="all">all</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn btn-success ml-2" type="submit"><i class="fas fa-chart-bar"></i> Generate</button>
        </div>
      </form>
    </div>
  </div>
</div>
