<div class="form-row align-items-center">

  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <input name="name"
             class="dateinput form-control"
             id="name"
             placeholder="seeker"
             {% if request.session.search.name %}value={{ request.session.search.name }}{% endif %}>
    </div>
  </div>

  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <input name="center"
             class="dateinput form-control"
             id="center"
             placeholder="center"
             {% if request.session.search.center %}value={{ request.session.search.center }}{% endif %}>
    </div>
  </div>

  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <input name="city"
             class="dateinput form-control"
             id="city"
             placeholder="city"
             {% if request.session.search.city %}value={{ request.session.search.city }}{% endif %}>
    </div>
  </div>

  <div class="col-sm-3 mb-1">
    <div class="input-group">
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input"
               type="checkbox"
               id="all"
               name="all"
               {% if request.session.search.all %}checked{% endif %}>
        <label class="form-check-label" for="all">all</label>
      </div>
      <button class="btn btn btn-outline-success ml-2" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </div>
  
</div>
