<article class="media content-section"
         {% if object.center == request.user.person.center or request.user.is_superuser %}
         onclick="location.href='{% url 'seeker_detail' object.id %}';"
         {% endif %}>
  <img
    class="rounded article-img"
    src="{{ object.image.url }}">

  <div class="media-body">
    <div class="article-metadata">
      <div class="row">
        <div class="col-9">
          {{ object.center }}
          {% if object.center != request.user.person.center %}
          &nbsp;&nbsp;&nbsp;
          <span class="badge badge-pill badge-danger">another center - only view</span>
          {% endif %}
        </div>
        <div class="col-3 text-right">
          {% if not object.is_active %}
          <span class="badge badge-pill badge-danger">inactive</span>
          {% endif %}
          {% if object.status %}
          <span class="badge badge-pill badge-{% if object.status == 'RST' %}danger{% else %}success{% endif %}">
            {{ object.get_status_display }}
          </span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <h4>
          {{ object.name }}
          <small class="text-muted ">
            <em>
              &nbsp;&nbsp;
              {{ object.city }} - {{ object.state }} ({{ object.country }})
            </em>
          </small>
        </h4>
      </div>
    </div>

    {% if object.phone %}
    <i class="fas fa-phone"></i> {{ object.phone }}
    {% endif %}

    {% if object.email %}
    &nbsp;&nbsp;
    <i class="fas fa-envelope"></i> {{ object.email }}
    {% endif %}

  </div>
</article>
