<form class="form-control-sm mt-1 mb-2 border-bottom" method="GET">
  {% csrf_token %}
  {% include "publicwork/elements/search_lecture.html" %}
</form>

{% if object_list %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% for obj in object_list %}
{% include 'publicwork/elements/lecture_card_to_insert.html' %}
{% endfor %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% else %}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">lectures not found</h4>
</div>
{% endif %}
