<nav class="navbar navbar-expand-lg navbar-light bg-transp mb-1">
  <a class="navbar-brand" href="{% url 'seeker_detail' object.pk %}">
    Seeker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProfile"
    aria-controls="navbarProfile" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarProfile">
    <!-- menu items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if tab == 'frequencies' %}active{% endif %}" 
           href="{% url 'seeker_frequencies' object.pk %}">
          Frequencies
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'historic' %}active{% endif %}" 
           href="{% url 'seeker_historic' object.pk %}">
          Historic
        </a>
      </li>
    </ul>

    <!-- controlers -->
    <div class="navbar-nav">
      {% if tab == "info" %}
        {% if not request.session.pwg %}
        <a class="btn btn-light btn-sm" href="{% url 'seeker_update' object.id %}">
          <i class="fas fa-edit"></i> 
          Edit
        </a>
          {% if object.is_active %}
          <a class="btn btn-light btn-sm" href="{% url 'seeker_delete' object.id %}">
            <i class="fas fa-edit"></i> 
            Delete
          </a>
          {% else %}
          <a class="btn btn-light btn-sm" href="{% url 'seeker_reinsert' object.pk %}">
            <i class="fas fa-edit"></i> 
            Reinsert
          </a>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if tab == "frequencies" %}
        <a class="btn btn-light btn-sm" href="{% url 'add_frequency' object.id %}?init=on">
          <i class="fas fa-plus"></i> 
          Add frequency
        </a>
      {% endif %}

      {% if tab == "historic" %}
        <a class="btn btn-light btn-sm" href="{% url 'create_historic' object.id %}">
          <i class="fas fa-plus"></i> 
          Add historic
        </a>
      {% endif %}
      
      <a class="btn btn-light btn-sm" 
         href="
         {% if request.session.pwg %}
         {% url 'group_detail' request.session.pwg %}
         {% else %}
         {% url 'seeker_home' %}?init=on
         {% endif %}
         ">
        <i class="fas fa-chevron-left"></i> 
        Go back
      </a>
      
    </div>
  </div>
</nav>
