<article class="media content-section mb-1">
  <div class="media-body">
    <div class="article-metadata">
      <div class="row">
        <div class="col-9">
          {{ object.center }}
          {% if object.center != request.user.person.center %}
          &nbsp;&nbsp;&nbsp;
          <span class="badge badge-pill badge-danger">another center - only view</span>
          {% endif %}
        </div>
        <div class="col-3 text-right">
          {% if object.status %}
          <span class="badge badge-pill badge-success">{{ object.get_status_display }}</span>
          {% endif %}
          {% if not object.is_active %}
          <span class="badge badge-pill badge-danger">inactive</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <h3>
          {{ object.name }} &nbsp;&nbsp;
          <small class="text-muted">
            <em>{{ object.city }} - {{ object.state }} ({{ object.country }})</em>
          </small>
        </h3>
      </div>
      <div class="col-2 text-right">
        {% if ranking %}
        <h3>{{ ranking }} <i class="fas fa-star"></i></h3>
        {% endif %}
      </div>
    </div>
  </div>
</article>