<div class="jumbotron text-justify">
  <h1 class="text-center border-bottom">O token expirou</h1>
  <p>A solicitação do seu cadastro expirou.</p>
  <p>Por favor, caso seja de seu interesse, refaça o seu cadastro através do link:</p>
  <a href="{% url 'insert_yourself' %}">Quero ser membro!</a>
  <p>Caso queira relatar algum problema, entre em
    contato conosco através do email: 
    <a href="mailto:suporte@rosacruzaurea.org.br">suporte@rosacruzaurea.org.br</a> </p>
  <br>
  <p class="text-right">Atenciosamente</p>
  <h4 class="text-right">equipe school@admin</h4>
</div>







