<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic"
      aria-selected="true">
      Basic
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other"
      aria-selected="false">
      Others
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address"
      aria-selected="false">
      Address
    </a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
    <br>
    <table class="table table-hover table-sm">
      <tr>
        <th>type</th>
        <td>{{ person.get_person_type_display }}</td>
      </tr>
      <tr>
        <th>phone</th>
        <td>{{ person.user.profile.phone_1 }}</td>
      </tr>
      <tr>
        <th>backup phone</th>
        <td>{{ person.user.profile.phone_2 }}</td>
      </tr>
      <tr>
        <th>email</th>
        <td>{{ email }}</td>
      </tr>
      <tr>
        <th>birth</th>
        <td>{{ person.birth|date:"d/m/Y" }}</td>
      </tr>
      <tr>
        <th>id card</th>
        <td>{{ person.id_card }}</td>
      </tr>
    </table>
  </div>
  <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
    <br>
    <table class="table table-hover table-sm">

      <tr>
        <th>gender</th>
        <td>{{ person.user.profile.get_gender_display }}</td>
      </tr>
      <tr>
        <th>profession</th>
        <td>{{ person.user.profile.profession }}</td>
      </tr>
      <tr>
        <th>marital status</th>
        <td>{{ person.user.profile.marital_status }}</td>
      </tr>
      <tr class="text-danger">
        <th>sos contact</th>
        <td>
          {{ person.user.profile.sos_contact }}
        </td>
      </tr>
      <tr class="text-danger">
        <th>sos phone</th>
        <td>
          {{ person.user.profile.sos_phone }}
        </td>
      </tr>
      <tr>
        <th>observations</th>
        <td>{{ person.observations }}</td>
      </tr>
    </table>
  </div>
  <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
    <br>
    <table class="table table-hover table-sm">
      <tr>
        <th>address</th>
        <td>
          <address>
            {{ person.user.profile.address }}, {{ person.user.profile.number }}
            {% if person.user.profile.complement %}
            &nbsp;&nbsp;
            <small class="text-muted">
              <em>{{ person.user.profile.complement }}</em>
            </small>
            {% endif %}
            <br>
            {{ person.user.profile.district }} -
            {{ person.user.profile.city }} -
            {{ person.user.profile.state }}
            <br>
            {{ person.user.profile.country }} -
            {{ person.user.profile.zip_code }}
          </address>
        </td>

      </tr>

    </table>
  </div>
</div>
