<h4>Frequencies</h4>

{% if object_list %}

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th width="15%">date</th>
      <th>event</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for freq in object_list %}
    <tr>
      <td>{{ freq.date | date:"d/m/Y" }}</td>
      <td>{{ freq.activity }}
        <small class="text-muted">
          {{ freq.center }}
        </small>
      </td>
      <td class="text-right">
        <a type="button" 
          href="{% url 'frequency_ps_delete' person.id freq.id %}"
          class="btn btn-outline-light btn-sm">
          <i class="fas fa-trash-alt text-danger"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if object_list.has_other_pages %}
{% include "base/elements/paginator.html" %}
{% endif %}

{% else %}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">frequency not found</h4>
</div>
{% endif %}
