<h4>Events</h4>

{% if object_list %}

  {% if object_list.has_other_pages %}
  {% include "base/paginator.html" %}
  {% endif %}

  {% for obj in object_list %}
  <div class="row border-top border-secondary pb-2 pt-2 text-{% if not obj.is_active %}danger{% elif obj.center != request.user.person.center %}warning{% endif %}"
    {% if obj.click_link %}
      {% if obj.center == request.user.person.center or request.user.is_superuser %}
        onclick="location.href='{{ obj.click_link }}';"
      {% endif %}
    {% endif %}>

    <div class="col-sm-1">
      {{ obj.date|date:'d/m/y' }}
    </div>

    <div class="col-sm-5">
      <strong>{{ obj.activity.name }}</strong>
    </div>

    <div class="col-sm-2 small align-middle">
      <small><em>{{ obj.center }}</em></small>
    </div>

    <div class="col-sm-2 text-right">
      <strong>{{ obj.get_status_display }}</strong>
    </div>

    <div class="col-sm-2 text-right">
      {% if tab == "add_frequencies" and obj.is_active %}
        <a type="button" 
          href="{% url 'mentoring_add_frequencies' group_pk %}?event_pk={{ obj.pk }}"
          class="btn btn-outline-success btn-sm">
          <i class="fas fa-check"></i>
        </a>
      {% elif not nav == "home" and obj.is_active %}
        {% if obj.pk not in pre_freqs %}
          <a type="button" 
            href="{{ obj.add_link }}?pk={{ obj.pk }}"
            class="btn btn-outline-success btn-sm">
            <i class="fas fa-plus"></i> <i class="fas fa-user"></i>
          </a>
        {% else %}
          <i class="fas fa-user-check mr-1"></i>
        {% endif %}
      {% else %}
        {% if obj.frequencies.all|length > 0 and obj.is_active %}
          <strong>{{ obj.frequencies.all|length }}</strong> 
          <i class="fas fa-users"></i>  
        {% endif %}
      {% endif %}
    </div>
    
  </div>
  {% endfor %}

  {% if object_list.has_other_pages %}
  {% include "base/paginator.html" %}
  {% endif %}

{% else %}

<div class="alert alert-secondary">
  <h4 class="alert-heading">
    {% if init %}
    choose your search terms
    {% else %}
    events not found
    {% endif %}
  </h4> 
</div> 

{% endif %}