<h4>Events</h4>

{% if object_list %}

  {% if object_list.has_other_pages %}
  {% include "base/paginator.html" %}
  {% endif %}

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th width="15%">date</th>
        <th>event</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
      <tr>
        <td>{{ obj.date|date:'d/m/y'}}</td>
        <td>
          {{ obj.activity.name }}
          &nbsp;&nbsp;<small class="text-muted">{{ obj.center }}</small>
          {% if not obj.is_active %}
          &nbsp;&nbsp;<span class="badge badge-pill badge-danger">inactive</span>
          {% endif %}
        </td>
        <td class="text-right">
          {% if obj.pk not in pre_freqs %}
            <a type="button" 
              href="{{ obj.add_link }}?pk={{ obj.pk }}"
              class="btn btn-outline-light btn-sm text-success">
              <i class="fas fa-plus"></i> <i class="fas fa-user"></i>
            </a>
          {% else %}
            <span class="badge badge-pill badge-warning">inserted</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if object_list.has_other_pages %}
  {% include "base/paginator.html" %}
  {% endif %}

{% else %}

<div class="alert alert-secondary">
  <h4 class="alert-heading">
    {% if init %}
    choose your search terms
    {% else %}
    events not found
    {% endif %}
  </h4> 
</div> 

{% endif %}