<article class="media content-section" 
  onclick="location.href='{% url 'event_detail' object.pk %}';">
  <div class="media-body">
    <div class="article-metadata">
      <div class="row">
        <div class="col-10">
          {{ object.date|date:'d/m/Y'}}
          {% if object.activity.multi_date %}
          <small class="text-muted">
            &nbsp;&nbsp; <strong>to</strong> {{ object.end_date|date:'d/m/Y'}}
            &nbsp;&nbsp; <strong>deadline</strong> {{ object.deadline|date:'d/m/Y H:i'}}
          </small>
          {% endif %}
        </div>
        <div class="col text-right">
          {% if not object.is_active %}
            <span class="badge badge-pill badge-danger">
              inactive
            </span>
          {% endif %}
          <span class="badge badge-pill badge-{% if object.status == 'OPN' %}success{% else %}secondary{% endif %}">
            {{ object.get_status_display }}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <h4>
          {{ object.activity.name }}
          <small class="text-muted ">
            &nbsp;&nbsp; {{ object.center }}
          </small>
        </h4>
      </div>
      <div class="col text-right">
        {% if object.frequencies.all|length > 0 %}
        <span class="badge badge-pill badge-info">{{ object.frequencies.all|length }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</article>