{% extends "user/base.html" %}
{% load static %}
{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap" rel="stylesheet">

<article class="media content-section">
    <div class="media-body content-box" >
        <aside class="aside-box">
            <h1>Uh!</h1>
            <h2>Internal error.</h2>
            <h2>Please, try again later...</h2>
            <div class="contact">
                <p class="contact-link"><strong>or contact our support:</strong></p>
            </div>
            <p id="mail">school@admin.com</p>
        </aside>
        <main class="main-box">
            <img class="image-404" src="{% static 'images/500_error.png' %}" alt="Error 404">
        </main>
    </div>
</article>

<style>
    body{
        background-color: #fff;
    }
    .content-box{
        display: flex;
        border: 2px solid #f8f8f8;
        justify-content: space-between;
        align-items: flex-end;
    }
    .image-404{
        max-width: 500px;
        height: auto
    }
    .aside-box{
        justify-content: left;
        align-items: center;
        margin: 10px 50px;
    }

    a {
    color: #960707;
    text-decoration: none;
    background-color: transparent;
    }

    h1, h2{
        font-family: 'Schoolbell', cursive;  
        color: #5F788A;
        text-align: left;
    }
    #but, #mail{
        font-size: 14px;
        font-family: 'Arimo', sans-serif;
        color: #5F788A;
        text-align: right;
    }
    .contact{
        margin-top: 20px;
    }
    .contact-link{
        font-family: 'Arimo', cursive;  
        font-weight: 700;
        font-size: 18px;
        color: #5F788A;
        text-align: left;
    }
    #mail{
        font-style: italic;
        margin-right: 50px;
    }

    @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        }
    .content-box, img{
        align-items: flex-end;
    }

    .image-404{
        max-width: 200px;
        height: auto
    }
    }
</style>
{% endblock content %}