<p>No Lectorium Rosicrucianum, privacidade e segurança são prioridades e nos comprometemos com a transparência do tratamento de dados pessoais dos nossos usuários/alunos. Por isso, esta presente Política de Privacidade estabelece como é feita a coleta, uso e transferência de informações dos alunos ou outras pessoas que acessam ou usam nossa aplicação web de gerenciamento.
Ao utilizar nossos serviços, você entende que coletaremos e usaremos suas informações pessoais nas formas descritas nesta Política, sob as normas de Proteção de Dados (LGPD, Lei Federal 13.709/2018), das disposições consumeristas da Lei Federal 8078/1990 e as demais normas do ordenamento jurídico brasileiro aplicáveis.
Dessa forma, o Lectorium Rosicrucianum, doravante denominada simplesmente como “Rosacruz Áurea”, inscrita no CNPJ/MF sob o nº 62.287.636/0001-13, no papel de Controladora de Dados, obriga-se ao disposto na presente Política de Privacidade.
</p>
<h3>1. Quais dados coletamos sobre você e para qual finalidade?</h3>
<p>Nosso site coleta e utiliza alguns dados pessoais seus, de forma a viabilizar o cadastro dos alunos e simpatizantes, a comunicação e acompanhamento dos interessados e a vivência do discipulado do aluno como proposto pela Rosacruz Áurea.
</p>
<h5>1.1. Dados pessoais fornecidos pelo titular</h5>
<p>Os dados coletados estão apontados nos formulários de cadastro de alunos e simpatizantes compostos pelos seguintes campos:</p>
<p class="title-list">Obrigatórios:</p>
<ul>
    <li>nome completo;</li>
    <li>nome social;</li>
    <li>data de nascimento;</li>
    <li>gênero;</li>
    <li>cidade;</li>
    <li>estado (UF);</li>
    <li>país;</li>
    <li>telefone;</li>
    <li>e-mail;</li>
</ul>
<p class="title-list">Facultativos:</p>
<ul>
    <li>endereço (com diversos campos para essa finalidade);</li>
    <li>profissão;</li>
    <li>estado civil;</li>
    <li>contato de emergência, com telefone;</li>
    <li>foto</li>
</ul>
<h5>1.2. Dados pessoais coletados automaticamente</h5> 
<p>Na data da implantação deste sistema, os dados já armazenados no banco de dados disponível para uso das secretarias dos núcleos da Rosacruz Áurea, foram importados conforme rotina de importação de dados configuradas no sistema. Os ajustes e correções dos dados importados foram feitos posteriormente, sob a responsabilidade dos secretários dos núcleos, sendo que cada núcleo é responsável pela sua parcela de dados da sua região.</p>     

<h3>2. Como coletamos os seus dados?</h3>
<p>Nesse sentido, a coleta dos seus dados pessoais ocorre da seguinte forma:</p>
<ul>
    <li>Formulário de cadastro com campos facultativos e obrigatórios que o aluno pode preencher. </li>
    <li>Informações geradas pela administração das atividades discipulares dos alunos</li>
    <li>Formulário de cadastro com campos facultativos e obrigatórios que o membro interessado pode preencher.</li>
</ul>
<h5>2.1. Consentimento</h5>
<p>É a partir do seu consentimento que tratamos os seus dados pessoais. O consentimento é a manifestação livre, informada e inequívoca pela qual você autoriza a Rosacruz Áurea a tratar seus dados.
Assim, em consonância com a Lei Geral de Proteção de Dados, seus dados só serão coletados, tratados e armazenados mediante prévio e expresso consentimento. 
O seu consentimento será obtido de forma específica para cada finalidade acima descrita, evidenciando o compromisso de transparência e boa-fé da Rosacruz Áurea para com seus usuários/alunos, seguindo as regulações legislativas pertinentes.
Ao utilizar os serviços da Rosacruz Áurea e fornecer seus dados pessoais, você está ciente e consentindo com as disposições desta Política de Privacidade, além de conhecer seus direitos e como exercê-los.
A qualquer tempo e sem nenhum custo, você poderá revogar seu consentimento.</p>
<p>É importante destacar que a revogação do consentimento para o tratamento dos dados pode implicar a impossibilidade da performance adequada de alguma funcionalidade do site que dependa da operação. Tais consequências serão informadas previamente.</p>

<h3>3. Quais são os seus direitos?</h3>
<p>A Rosacruz Áurea assegura a seus usuários/alunos seus direitos de titular previstos no artigo 18 da Lei Geral de Proteção de Dados. Dessa forma, você pode, de maneira gratuita e a qualquer tempo:</p>
<ul>
    <li>Confirmar a existência de tratamento de dados, de maneira simplificada ou em formato claro e completo.</li>
    <li>Acessar seus dados, podendo solicitá-los em uma cópia legível sob forma impressa ou por meio eletrônico, seguro e idôneo.</li>
    <li>Corrigir seus dados, ao solicitar a edição, correção ou atualização destes.</li>
    <li>Limitar seus dados quando desnecessários, excessivos ou tratados em desconformidade com a legislação através da anonimização, bloqueio ou eliminação.</li>
    <li>Solicitar a portabilidade de seus dados, através de um relatório de dados cadastrais que a Rosacruz Áurea trata a seu respeito.</li>
    <li>Eliminar seus dados tratados a partir de seu consentimento, exceto nos casos previstos em lei.</li>
    <li>Revogar seu consentimento, desautorizando o tratamento de seus dados.</li>
    <li>Informar-se sobre a possibilidade de não fornecer seu consentimento e sobre as consequências da negativa.</li>
</ul>
    
<h3>4. Como você pode exercer seus direitos de titular?</h3>
<p>Para exercer seus direitos de titular, você deve entrar em contato com a Rosacruz Áurea através dos seguintes meios disponíveis:</p>
<div class="contact-box">
    <aside>telefone: 11 3208-8682</aside>
    <aside>e-mail: contato@rosacruzaurea.org.br</aside>
</div>
<p>De forma a garantir a sua correta identificação como titular dos dados pessoais objeto da solicitação, é possível que solicitemos documentos ou demais comprovações que possam comprovar sua identidade. Nessa hipótese, você será informado previamente.</p>

<h3>5. Como e por quanto tempo seus dados serão armazenados?</h3>
<p>Seus dados pessoais coletados pela Rosacruz Áurea serão utilizados e armazenados durante o tempo que o aluno mantiver vínculo junto à instituição (esse vínculo pode ser quebrado por vontade expressa do aluno ou por infração de diretrizes firmadas no estatuto da da Rosacruz Áurea), considerando os direitos dos titulares dos dados e dos controladores.</p>
<p>De modo geral, seus dados serão mantidos enquanto a relação de filiação entre você e a Rosacruz Áurea perdurar. Findado o período (por desvinculação ou por morte) de armazenamento dos dados pessoais, estes serão excluídos de nossas bases de dados ou anonimizados, ressalvadas as hipóteses legalmente previstas no artigo 16 lei geral de proteção de dados, a saber:</p>

<ol>
    <li>cumprimento de obrigação legal ou regulatória pelo controlador;</li>
    <li>estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</li>
    <li>transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos nesta Lei; ou</li>
    <li>uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.</li>
</ol>

<p>Isto é, informações pessoais sobre você que sejam imprescindíveis para o cumprimento de determinações legais, judiciais e administrativas e/ou para o exercício do direito de defesa em processos judiciais e administrativos serão mantidas, a despeito da exclusão dos demais dados. </p>
<p>O armazenamento de dados coletados pela Rosacruz Áurea reflete o nosso compromisso com a segurança e privacidade dos seus dados. Empregamos medidas e soluções técnicas de proteção aptas a garantir a confidencialidade, integridade e inviolabilidade dos seus dados. Além disso, também contamos com medidas de segurança apropriadas aos riscos e com controle de acesso às informações armazenadas.</p>

<h3>6. O que fazemos para manter seus dados seguros?</h3>
<p>Para mantermos suas informações pessoais seguras, usamos ferramentas físicas, eletrônicas e gerenciais orientadas para a proteção da sua privacidade.</p>
<p>Aplicamos essas ferramentas levando em consideração a natureza dos dados pessoais coletados, o contexto e a finalidade do tratamento e os riscos que eventuais violações gerariam para os direitos e liberdades do titular dos dados coletados e tratados.</p>
<p>Entre as medidas que adotamos, destacamos as seguintes:</p>
<ul>
    <li>Apenas pessoas autorizadas têm acesso a seus dados pessoais</li>
    <li>O acesso a seus dados pessoais é feito somente após o compromisso de confidencialidade</li>
    <li>Seus dados pessoais são armazenados em ambiente seguro e idôneo.</li>
</ul>
<p>A Rosacruz Áurea se compromete a adotar as melhores posturas para evitar incidentes de segurança. Contudo, é necessário destacar que nenhuma página virtual é inteiramente segura e livre de riscos. É possível que, apesar de todos os nossos protocolos de segurança, problemas de culpa exclusivamente de terceiros ocorram, como ataques cibernéticos de hackers, ou também em decorrência da negligência ou imprudência do próprio usuário/cliente.</p>
<p>Em caso de incidentes de segurança que possa gerar risco ou dano relevante para você ou qualquer um de nossos usuários/clientes, comunicaremos aos afetados e a Autoridade Nacional de Proteção de Dados sobre o ocorrido, em consonância com as disposições da Lei Geral de Proteção de Dados.</p>

<h3>7. Com quem seus dados podem ser compartilhados?</h3>
<p>Tendo em vista a preservação de sua privacidade, a Rosacruz Áurea não compartilhará seus dados pessoais com nenhum terceiro não autorizado. </p>
<p>No entanto, existem hipóteses em que seus dados poderão ser compartilhados, que são:</p>
<ol>
    <li>Determinação legal, requerimento, requisição ou ordem judicial, com autoridades judiciais, administrativas ou governamentais competentes.</li>
    <li>Caso de movimentações societárias, como fusão, aquisição e incorporação, de forma automática</li>
    <li>Proteção dos direitos da Rosacruz Áurea em qualquer tipo de conflito, inclusive os de teor judicial.</li>
</ol>

<h5>7.1. Transferência internacional de dados</h5>
<p>Algumas das filiais da Rosacruz Áurea com quem compartilhamos seus dados, em caso de transferência de filiação para outro núcleo, podem ser localizados ou ou possuir instalações localizadas em países estrangeiros. Nessas condições, de toda forma, seus dados pessoais estarão sujeitos à Lei Geral de Proteção de Dados e às demais legislações brasileiras de proteção de dados</p>
<p>Nesse sentido, a Rosacruz Áurea se compromete a sempre adotar eficientes padrões de segurança cibernética e de proteção de dados, nos melhores esforços de garantir e cumprir as exigências legislativas.</p>
<p>Ao concordar com essa Política de Privacidade, você concorda com esse compartilhamento, que se dará conforme as finalidades descritas no presente instrumento.</p>

<h3>8. Cookies ou dados de navegação</h3>
<p>A Rosacruz Áurea não faz uso de Cookies, que são arquivos de texto enviados pela plataforma ao seu computador e que nele se armazenam, que contém informações relacionadas à navegação do site.</p>

<h3>9. Alteração desta Política de Privacidade</h3>
<p>A atual versão da Política de Privacidade foi formulada e atualizada pela última vez em: 31/12/2021.</p>
<p>Reservamos o direito de modificar essa Política de Privacidade a qualquer tempo, principalmente em função da adequação a eventuais alterações feitas em nosso site ou em âmbito legislativo. Recomendamos que você a revise com frequência.</p>
<p>Eventuais alterações entrarão em vigor a partir de sua publicação em nosso site e sempre lhe notificaremos acerca das mudanças ocorridas.</p>
<p>Ao utilizar nossos serviços e fornecer seus dados pessoais após tais modificações, você as consente.</p>

<h3>10. Responsabilidade</h3>
<p>A Rosacruz Áurea prevê a responsabilidade dos agentes que atuam nos processos de tratamento de dados, em conformidade com os artigos 42 ao 45 da Lei Geral de Proteção de Dados.</p>
<p>Nos comprometemos em manter esta Política de Privacidade atualizada, observando suas disposições e zelando por seu cumprimento.</p>
<p>Além disso, também assumimos o compromisso de buscar condições técnicas e organizativas seguramente aptas a proteger todo o processo de tratamento de dados.</p>
<p>Caso a Autoridade Nacional de Proteção de Dados exija a adoção de providências em relação ao tratamento de dados realizado pela Rosacruz Áurea, comprometemo-nos a segui-las. </p>
<h5>10.1 Isenção de responsabilidade</h5>
<p>Conforme mencionado no Tópico 6, embora adotemos elevados padrões de segurança a fim de evitar incidentes, não há nenhuma página virtual inteiramente livre de riscos. Nesse sentido, a Rosacruz Áurea não se responsabiliza por:</p>
<ol>
    <li>Quaisquer consequências decorrentes da negligência, imprudência ou imperícia dos usuários em relação a seus dados individuais. Garantimos e nos responsabilizamos apenas pela segurança dos processos de tratamento de dados e do cumprimento das finalidades descritas no presente instrumento.
Destacamos que a responsabilidade em relação à confidencialidade dos dados de acesso é do usuário.</li>
    <li>Ações maliciosas de terceiros, como ataques de hackers, exceto se comprovada conduta culposa ou deliberada da Rosacruz Áurea.
Destacamos que em caso de incidentes de segurança que possam gerar risco ou dano relevante para você ou qualquer um de nossos usuários/alunos, comunicaremos aos afetados e a Autoridade Nacional de Proteção de Dados sobre o ocorrido e cumpriremos as providências necessárias.</li>
    <li>Inveracidade das informações inseridas pelo usuário/alunos nos registros necessários para a utilização do sistema e dependências da Rosacruz Áurea; quaisquer consequências decorrentes de informações falsas ou inseridas de má-fé são de inteiramente responsabilidade do usuário/cliente.</li>
</ol>

<h3>11. Encarregado de Proteção de Dados</h3>
<p>A Rosacruz Áurea disponibiliza os seguintes meios para que você possa entrar em contato conosco para exercer seus direitos de titular: </p>
<div class="contact-box">
    <aside>telefone: 11 3208-8682</aside>
    <aside>e-mail: contato@rosacruzaurea.org.br</aside>
</div>
<p>Caso tenha dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que tratamos, você pode entrar em contato com o nosso encarregado de proteção de dados pessoais, através dos meios de contato acima mencionados:</p>
<p>Encarregado: Márcio Blumer.</p>
