<article
  class="media content-section"
  onclick="location.href='{% url 'center_detail' object.pk %}';"
>
  <img class="circle article-img" src="{{ object.image.url }}" />
  <div class="media-body">
    <div class="article-metadata">
      {{ object.get_center_type_display }}
      <small class="text-muted">{{ object.city }} ({{ object.country }})</small>
      {% if not object.is_active %} &nbsp;&nbsp;
      <span class="badge badge-pill badge-danger"> inactive </span>
      {% endif %}
    </div>
    <h3>
      {{ object.name }} &nbsp;&nbsp; {% if object.conf_center %}
      <small class="text-muted">
        <em
          >{{ object.conf_center.name }} ({{
          object.conf_center.get_country_display }})</em
        >
      </small>
      {% endif %}
    </h3>
    {% if object.phone_1 %}
    <i class="fas fa-phone"></i> {{ object.phone_1 }} &nbsp;&nbsp; {% endif %}
    {% if object.phone_2 %} <i class="fas fa-phone"></i> {{ object.phone_2 }}
    &nbsp;&nbsp; {% endif %} {% if object.email %}
    <i class="fas fa-envelope"></i> {{ object.email }} &nbsp;&nbsp; {% endif %}
    {% if object.secretary %}
    <a href="{% url 'person_detail' object.secretary.person.id %}">
      <i class="fas fa-user"></i> {{ object.secretary.person.name }}
    </a>
    {% endif %}
  </div>
</article>
