<article class="media content-section mb-1">
  <div class="media-body">
    <div class="article-metadata">
      <div class="row">
        <div class="col-10">
          {{ object.get_center_type_display }}
        </div>
        <div class="col text-right">
          {% if users %}
          <span class="badge badge-pill badge-secondary">{{ users }} &nbsp;&nbsp; pupils</span>
          {% endif %}
        </div>
      </div>
    </div>
    <h3>
      {{ object.name }}
      {% if object.center_type != 'CNF' %}
      &nbsp;&nbsp;
      <small class="text-muted">
        conference center: {{ object.conf_center.name }} 
        ({{ object.conf_center.get_country_display }})
      </small>
      {% endif %}
      {% if not object.is_active %}
      &nbsp;&nbsp;
      <span class="badge badge-pill badge-danger"> inactive </span>
      {% endif %}
    </h3>
  </div>
</article>