{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">Atention!</h4>
  <p>Do you confirm the registration procedure?</p>
  <hr>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {% if not object.order_set.all %}
      <button class="btn btn-outline-danger" type="submit">Confirm</button>
      {% endif %}
      <a 
        class="btn btn-outline-info" 
        href="javascript:history.back()">
        Go back
      </a>
    </div>
  </form>
</div>
{% endblock %}