{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">Atention!</h4>
  {% if object.order_set.all %}
  <p>You want to delete: <br>
    <strong>{{ object }}?</strong> <br>
    But this is part of a payment order: <br>
    <strong>{{ object.order_set.all.0 }}</strong> <br>
    You can only delete it using the payment order. <br>
  </p>
  {% else %}
  <p>Are you shure you want to delete: <br>
    <strong>{{ object }}?</strong>
  </p>
  {% endif %}
  <hr>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {% if not object.order_set.all %}
      <button class="btn btn-outline-danger" type="submit">Confirm</button>
      {% endif %}
      <a 
        class="btn btn-outline-info" 
        href="javascript:history.back()">
        Go back
      </a>
    </div>
  </form>
</div>
{% endblock %}