{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="text-right mb-2 mt-4">
  <button 
    class="btn btn-primary" 
    onclick="checkForm();">
    <i class="fas fa-plus"></i> 
    Add form of payment
  </button>
  <a type="button" 
    class="btn btn-light mr-3" 
    href="{% url 'order_create' %}">
    <i class="fas fa-chevron-left "></i> 
    Go back
  </a>
</div>

<article class="media content-section">
  <div class="media-body">
    <h4>Add form of payment</h4>

    <form method="POST" enctype="multipart/form-data" id="form">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6" id="payform_type">
          {{ form.payform_type | as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.value | as_crispy_field }}
        </div>
      </div>
      <div class="row" v-if="seen">
        <div class="col-sm-4">{{ form.bank_flag | as_crispy_field }}</div>
        <div class="col-sm-4">{{ form.ctrl_number | as_crispy_field }}</div>
        <div class="col-sm-4">{{ form.complement | as_crispy_field }}</div>
      </div>
    </form>
  </div>
</article>

{% endblock %}

{% block scripts %}
<script>
  // //hides the Bank flag, Ctrl number and Complement fields when payment is in cash
  // var form = new Vue({
  //   el: '#form',
  //   data: {
  //     seen: false,
  //     selected: 'CSH',
  //   },
  //   methods: {
  //     viewHide: function () {
  //       this.seen = this.selected != "CSH" ? true : false
  //     }
  //   }
  // })

  const valueFormPayment = document.getElementById("id_value")
  const payFormType = document.getElementById("id_payform_type")
  const flagFormPayment = document.getElementById("id_bank_flag")
  const ctrlFormPayment = document.getElementById("id_ctrl_number")

  //hidden inputs if payform type !cash
  const divcomplementFormPayment = document.getElementById("div_id_complement")
  const divctrlFormPayment = document.getElementById("div_id_ctrl_number")
  const divflagFormPayment = document.getElementById("div_id_bank_flag")
  divcomplementFormPayment.style.display = 'none'
  divctrlFormPayment.style.display = 'none'
  divflagFormPayment.style.display = 'none'

  //show inputs if payfom type !cash
  payFormType.addEventListener('blur', (evento) => {displayfields()})

  function displayfields(){
    if(payFormType.value != "CSH"){
      divcomplementFormPayment.style.display = 'block';
      divctrlFormPayment.style.display = 'block';
      divflagFormPayment.style.display = 'block';

    }else{
      divcomplementFormPayment.style.display = 'none'
      divctrlFormPayment.style.display = 'none'
      divflagFormPayment.style.display = 'none'
    }
  }

  //main function
  function checkForm() {
    let message = "Don't forget this field.";
    if(valueFormPayment.value == '' || valueFormPayment.value === null){
      alertField("id_value", message);
      return false;
    }
    if(divflagFormPayment.style.display == 'block' && flagFormPayment.item(0).selected){
      let message = "What is your bank?";
      alertField("id_bank_flag", message);
      return false;
    }
    if(divctrlFormPayment.style.display == 'block' && ctrlFormPayment.value == '' || ctrlFormPayment.value === null){
      alertField("id_ctrl_number", message);
      return false;
    }

    document.getElementById("form").submit();

  }

  //handler function
  function alertField(input, message) {
    const invalidField = document.getElementById(input);

    var invalidValueField = document.createElement("p");
    invalidValueField.classList.add("invalid-feedback");
    var invalidText = document.createTextNode(message);
    invalidValueField.appendChild(invalidText);
    invalidField.parentElement.appendChild(invalidValueField);
    invalidField.classList.add("is-invalid");
    invalidField.focus();
  }
</script>
{% endblock %}