{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-2 mt-4">
  {% if request.session.order.total_payments != 0.0 %}
    {% if request.session.order.total_payments == request.session.order.total_payforms %}
    <button 
      class="btn btn-primary" 
      onclick="document.getElementById('form').submit();">
      <i class="fas fa-money-bill-wave-alt"></i> 
      Pay now
    </button>
    {% endif %}
  {% endif %}
  <a type="button" 
    class="btn btn-light mr-3"
    href="{% if to_create %}{% url 'treasury_home' %}{% else %}{% url 'order_detail' request.session.order.id %}{% endif %}">
    <i class="fas fa-chevron-left "></i> 
    Go back
  </a>
</div>

<article class="media content-section mb-1">
  <div class="media-body">
    <h2>{% if to_create %}Create{% else %}Update{% endif %} Order</h2>
  </div>
</article>

<article class="media content-section">
  <div class="media-body">
    <div class="row">
      <div class="col-sm-2">
        <h5>Person</h5>
      </div>
      <div class="col-sm-6">
        {% if request.session.order.person %}
        <h5>{{ request.session.order.person.name }}</h5>
        {% endif %}
      </div>
      <div class="floating-right col-sm-4">
        <form class="form-control-sm" method="GET" onsubmit="return isFormOk()">
          {% csrf_token %}
          {% include "treasury/elements/search_person.html" %}
        </form>
      </div>

    </div>
  </div>
</article>

{% if request.session.order.person %}
<article class="media content-section">
  <div class="media-body">
    <div class="media">
      <div class="media-body">
        <h5>Payments</h5>
      </div>
      <div class="text-right">
        <a type="button" 
          class="btn btn-light btn-sm text-info" 
          href="{% url 'order_add_payment' %}">
          <i class="fas fa-plus "></i> 
          Add
        </a>
      </div>
    </div>

    {% if request.session.order.payments %}

    {% for object in request.session.order.payments %}
    {% include "treasury/elements/payment.html" %}
    {% endfor %}

    <table class="table table-hover table-sm mt-2">
      <tr>
        <th class="text-right">TOTAL:</th>
        <th class="text-right" id="totPayment" width="10%">
          {{ request.session.order.total_payments|floatformat:2 }}
        </th>
        <th width="28px"></th>
      </tr>
    </table>

    {% endif %}
  </div>
</article>
{% endif %}

{% if request.session.order.payments or request.session.order.payforms %}
<article class="media content-section">
  <div class="media-body">
    <div class="media">
      <div class="media-body">
        <h5>Forms of Payment</h5>
      </div>
      <div class="text-right">
        <a type="button" 
          class="btn btn-light btn-sm text-info" 
          href="{% url 'order_add_payform' %}">
          <i class="fas fa-plus "></i> 
          Add
        </a>
      </div>
    </div>

    {% if request.session.order.payforms %}

    {% for object in request.session.order.payforms %}
    {% include "treasury/elements/payform.html" %}
    {% endfor %}

    <table class="table table-hover table-sm mt-2">
      <tr>
        <th class="text-right">TOTAL:</th>
        <th class="text-right" id="totPayForm" width="10%">
          {{ request.session.order.total_payforms|floatformat:2 }}
        </th>
        <th width="28px"></th>
      </tr>
      {% if request.session.order.missing != 0 %}
      <tr class="text-danger">
        <td class="text-right"><em>missing:</em></td>
        <td class="text-right" id="diference" width="10%">
          <em>{{ request.session.order.missing|floatformat:2 }}</em>
        </td>
        <td width="28px"></td>
      </tr>
      {% endif %}
    </table>

    {% endif %}

  </div>
</article>
{% endif %}

{% if request.session.order.payforms %}
<article class="media content-section">
  <div class="media-body">
    <h5>Others</h5>
    <form id="form" action="{% url 'order_register' %}" method="GET">
      {% csrf_token %}
      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" 
              class="form-control" 
              id="description" 
              name="description"
              value="{{ request.session.order.description }}">
          </div>
        </div>
        <div class="col-4">
          <label for="status" class=" requiredField">
            Status
          </label>
          <div class="">
            <select name="status" 
              id="status" 
              class="select form-control">
              {% for st in status %}
              <option 
                value="{{ st.0 }}" 
                {% if request.session.order.status.cod == st.0 %}selected{% endif %}>
                {{ st.1 }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</article>
{% endif %}
{% endblock %}

{% block jquery %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block scripts %}
<script>
  $(function () {
    $("#person").autocomplete({
      source: "{% url 'order_search_person' %}",
      minLength: 3,
    });
  });
  function isFormOk() {
    var person = document.getElementById("person").value
    return person.length < 8 ? false : true
  }

  const personCreateOrder = document.getElementById("person")

  //main function
  function checkForm() {
    let message = "Don't forget this field.";
    if (personCreateOrder.value == "") {
      alertField("person", message);
      return false;
    }

    document.getElementById("form").submit();

  }

  //handler function
  function alertField(input, message) {
    const invalidField = document.getElementById(input);

    var invalidValueField = document.createElement("p");
    invalidValueField.classList.add("invalid-feedback");
    var invalidText = document.createTextNode(message);
    invalidValueField.appendChild(invalidText);
    invalidField.parentElement.appendChild(invalidValueField);
    invalidField.classList.add("is-invalid");
    invalidField.focus();
  }
</script>
{% endblock %}