{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<article class="media content-section mb-1">
  <div class="media-body">
    <h2>
      Order Detail &nbsp;
      {% if request.session.order.self_payed %}
      <small class="text-muted"><em>made by the pupil</em></small>
      {% endif %}
    </h2>
  </div>
</article>

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    {% if not request.session.order.self_payed %}
    <a class="btn btn-light text-warning" 
      href="{% url 'order_update' request.session.order.id %}">
      <i class="fas fa-edit"></i> 
      Edit
    </a>
    {% endif %}
    <a class="btn btn-light text-danger" 
      href="{% url 'order_delete' request.session.order.id %}">
      <i class="fas fa-trash-alt"></i> 
      Delete
    </a>
    <a type="button" 
      class="btn btn-light text-info" href="{% url 'orders' %}?d30=on">
      <i class="fas fa-chevron-left "></i> 
      Go back
    </a>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">
    <div class="row border-bottom mb-4">
      <div class="col-sm-6">
        <h5>
          <small><em>person:</em></small>
          {{ request.session.order.person.name }}
        </h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <small><em>date:</em></small>
          {{ request.session.order.created_on }}
        </h5>
      </div>
      <div class="col-sm-3 text-right">
        <h5><small><em>status:</em></small>
          <span class="badge badge-pill badge-{% if request.session.order.status.cod == 'PND' %}warning
                        {% elif request.session.order.status.cod == 'CCL' %}danger
                        {% else %}success{% endif %}">
            {{ request.session.order.status.descr }}
          </span>
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card text-white bg-steel mb-4">
          <div class="card-header">
            <h5 class="text-white">Payments</h5>
          </div>
          <div class="card-body">
            {% for object in request.session.order.payments %}
            {% include "treasury/elements/payment.html" %}
            {% endfor %}
            <table class="table table-sm mt-2">
              <tr>
                <th></th>
                <th class="text-right">TOTAL:</th>
                <th class="text-right" id="totPayment" width="60px">
                  {{ request.session.order.total_payments|floatformat:2 }}
                </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h5>Forms of Payment</h5>

        {% for object in request.session.order.payforms %}
        {% include "treasury/elements/payform.html" %}
        {% endfor %}

        <table class="table table-hover table-sm mt-2">
          <tr>
            <th class="text-right">TOTAL:</th>
            <th class="text-right" id="totPayForm" width="60px">
              {{ request.session.order.total_payforms|floatformat:2 }}
            </th>
          </tr>
        </table>

        {% if request.session.order.self_payed %}
        <br>
        <div class="float-right">
          <form class="form-inline"
            action="{% url 'order_update_status' request.session.order.id %}" 
            method="POST">
            {% csrf_token %}
            {{ form_update_status.status | as_crispy_field }}
            <button 
              class="btn btn-warning ml-1 mr-1" 
              type="submit">
              Update status
            </button>
          </form>
        </div>
        {% endif %}

      </div>
    </div>

    {% if request.session.order.description %}
    <em>description: </em> {{ request.session.order.description }}
    {% endif %}
  </div>
</article>

{% for object in request.session.order.payforms %}
  {% if object.voucher_img %}
  <article class="media content-section">
    <div class="media-body">
      <h5>Voucher</h5>
      <div class="p-2 text-center"><img src="{{ object.voucher_img }}"></div>
      
    </div>
  </article>
  {% endif %}
{% endfor %}
{% endblock %}