{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="text-right mb-2 mt-4">
  <button 
    class="btn btn-primary" 
    onclick="checkForm();">
    <i class="fas fa-plus"></i> 
    Add form of payment
  </button>
  <a type="button" 
    class="btn btn-light mr-3" 
    href="{% url 'order_create' %}">
    <i class="fas fa-chevron-left "></i> 
    Go back
  </a>
</div>

<article class="media content-section">
  <div class="media-body">
    <h4>Add form of payment</h4>

    <form method="POST" enctype="multipart/form-data" id="form">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6" id="payform_type">
          {{ form.payform_type | as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.value | as_crispy_field }}
        </div>
      </div>
      <div class="row" v-if="seen">
        <div class="col-sm-4">{{ form.bank_flag | as_crispy_field }}</div>
        <div class="col-sm-4">{{ form.ctrl_number | as_crispy_field }}</div>
        <div class="col-sm-4">{{ form.complement | as_crispy_field }}</div>
      </div>
    </form>
  </div>
</article>

{% endblock %}

{% block scripts %}

{% load static %}
<script type="text/javascript" src="{% static 'js/order_add_payform.js' %}"></script>

{% endblock %}