{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-2 mt-4">
  <button 
    class="btn btn-primary" 
    onclick="checkForm()">
    <i class="fas fa-plus"></i> 
    Add payment
  </button>
  <a type="button" 
    class="btn btn-light mr-3" 
    href="{% url 'order_create' %}">
    <i class="fas fa-chevron-left "></i> 
    Go back
  </a>
</div>

<article class="media content-section">
  <div class="media-body">
    <h4>Add payment</h4>

    <form method="POST" enctype="multipart/form-data" id="form">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-4">
          {{ form.paytype | as_crispy_field }}
        </div>
        <div class="col-sm-4">
          {{ form.ref_month | as_crispy_field }}
        </div>
        <div class="col-sm-4">
          {{ form.value | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{ form.person | as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.event | as_crispy_field }}
        </div>
      </div>
      {{ form.obs | as_crispy_field }}
    </form>
  </div>
</article>

<script>
  const paytypeCreateOrder = document.getElementById("id_paytype")
  const monthCreateOrder = document.getElementById("id_ref_month")
  const valueCreateOrder = document.getElementById("id_value")
  const personCreateOrder = document.getElementById("id_person")
  const eventCreateOrder = document.getElementById("id_event")

  //hidden event input div
  const divEventChoices = document.getElementById("div_id_event")
  divEventChoices.style.display = 'none'

  //main function
  function checkForm() {
    let message = "Don't forget this field.";

    if(paytypeCreateOrder.item(0).selected){
      let message = "Choose what you will pay.";
      alertField("id_paytype", message);
      return false;
    }
    if(monthCreateOrder.value == '' || monthCreateOrder.value === null){
      alertField("id_ref_month", message);
      return false;
    }
    if(valueCreateOrder.value == '' || valueCreateOrder.value === null){
      alertField("id_value", message);
      return false;
    }
    if(personCreateOrder.item(0).selected){
      let message = "Whose payment is it?";
      alertField("id_person", message);
      return false;
    }
    if(divEventChoices.style.display == 'block' && eventCreateOrder.item(0).selected){
      let message = "Which conference do you want to pay for?";
      alertField("id_event", message);
      return false;
    }

    document.getElementById("form").submit();

  }

  //handler function
  function alertField(input, message) {
    const invalidField = document.getElementById(input);

    var invalidValueField = document.createElement("p");
    invalidValueField.classList.add("invalid-feedback");
    var invalidText = document.createTextNode(message);
    invalidValueField.appendChild(invalidText);
    invalidField.parentElement.appendChild(invalidValueField);
    invalidField.classList.add("is-invalid");
    invalidField.focus();
  }

  //faz campo Event aparecer ao clicar fora do campo Paytype
  paytypeCreateOrder.addEventListener('blur', (evento) => {displayEventChoices()})

  function displayEventChoices(){
    const divEventChoices = document.getElementById("div_id_event")

    if(paytypeCreateOrder.value == "3"){
      divEventChoices.style.display = 'block'
    }else{
      divEventChoices.style.display = 'none'
    }
  }
</script>
{% endblock %}