{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<article class="media content-section mb-1">
  <div class="media-body">
    <h2>Create Order</h2>
  </div>
</article>

<div class="text-right mb-2">
  <div class="btn-group btn-group-sm mt-1" role="group">
    <button 
      class="btn btn-primary" 
      onclick="document.getElementById('form').submit();">
      <i class="fas fa-plus"></i> 
      Add form of payment
    </button>
    <a type="button" 
      class="btn btn-light text-info" 
      href="{% url 'order_create' %}">
      <i class="fas fa-chevron-left "></i> 
      Go back
    </a>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">
    <h4>Add form of payment</h4>

    <form method="POST" enctype="multipart/form-data" id="form">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6" id="payform_type">
          {{ form.payform_type | as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.value | as_crispy_field }}
        </div>
      </div>
      <div class="row" v-if="seen">
        <div class="col-sm-4">{{ form.bank_flag | as_crispy_field }}</div>
        <div class="col-sm-4">{{ form.ctrl_number | as_crispy_field }}</div>
        <div class="col-sm-4">{{ form.complement | as_crispy_field }}</div>
      </div>
    </form>
  </div>
</article>

{% endblock %}

{% block scripts %}
<script>
  var form = new Vue({
    el: '#form',
    data: {
      seen: false,
      selected: 'CSH',
    },
    methods: {
      viewHide: function () {
        this.seen = this.selected != "CSH" ? true : false
      }
    }
  })
</script>
{% endblock %}